---
const { class: className, "data-count": count, ...props } = Astro.props;
---

<button
  class="relative z-10 mt-2 w-auto rounded-full px-4 py-2 text-sm hover:text-hub-title dark:hover:text-hub-title-dark transition-colors duration-200"
  data-count={count || "0"}
  {...props}
>
  <slot />
  {
    count && parseInt(count) > 0 && (
      <span class="absolute -right-2 -top-2 flex h-5 w-5 items-center justify-center rounded-full border border-blue-500 bg-white text-xs font-medium text-blue-500">
        {count}
      </span>
    )
  }
</button>
