---
const { id = `sticky-actions-${Math.random().toString(36).substr(2, 9)}` } = Astro.props;
---

<div id={id} class="pb-[env(safe-area-inset-bottom)]">
  <div class="flex max-w-full items-center justify-start sm:hidden"></div>
  <div class="flex max-w-full items-center justify-center"></div>
  <div class="flex max-w-full items-center justify-end">
    <slot />
  </div>
</div>
