---
import SimpleProjectLog from "./SimpleProjectLog.astro";

interface Props {
  project?: any;
  currentRole?: string;
  projectId: string;
  authorProfile?: any;
  projectStatus?: number;
}

const { project, currentRole, projectId, authorProfile, projectStatus } = Astro.props;
---

{
  (currentRole === "Admin" || currentRole === "Staff") && (
    <div id="content-activity-log" class="tab-content hidden">
      <SimpleProjectLog projectId={projectId} />
    </div>
  )
}
