---
import SimpleProjectLog from "./SimpleProjectLog.astro";

interface Props {
  project?: any;
  currentUser?: any;
  projectStatus?: number;
  globalSecondaryTextClasses?: string;
  globalPrimaryTextClasses?: string;
  globalInputClasses?: string;
  statusData?: any;
}

const {
  project,
  currentUser,
  globalSecondaryTextClasses,
  globalPrimaryTextClasses,
  globalInputClasses,
  statusData,
} = Astro.props;

const currentRole = currentUser?.profile?.role;
const projectId = project?.id;
if (currentRole === "Client") {
  return;
}
---

{
  (currentRole === "Admin" || currentRole === "Staff") && (
    <div id="content-activity-log" class="tab-content hidden">
      <SimpleProjectLog
        projectId={projectId}
        globalInputClasses={globalInputClasses}
        globalSecondaryTextClasses={globalSecondaryTextClasses}
        globalPrimaryTextClasses={globalPrimaryTextClasses}
      />
    </div>
  )
}
