---
import SimpleProjectLog from "./SimpleProjectLog.astro";

interface Props {
  project?: any;
  currentRole?: string;
  projectId: string;
  authorProfile?: any;
  projectStatus?: number;
  globalSecondaryTextClasses?: string;
  globalPrimaryTextClasses?: string;
  globalInputClasses?: string;
}

const {
  project,
  currentRole,
  projectId,
  authorProfile,
  projectStatus,
  globalSecondaryTextClasses,
  globalPrimaryTextClasses,
  globalInputClasses,
} = Astro.props;
---

{
  (currentRole === "Admin" || currentRole === "Staff") && (
    <div id="content-activity-log" class="tab-content hidden">
      <SimpleProjectLog
        projectId={projectId}
        globalInputClasses={globalInputClasses}
        globalSecondaryTextClasses={globalSecondaryTextClasses}
        globalPrimaryTextClasses={globalPrimaryTextClasses}
      />
    </div>
  )
}
