---
import SimpleProjectLog from "./SimpleProjectLog.astro";

interface Props {
  project?: any;
  currentUser?: any;
  projectStatus?: number;
  secondaryTextClasses?: string;
  primaryTextClasses?: string;
  globalInputClasses?: string;
  statusData?: any;
}

const {
  project,
  currentUser,
  secondaryTextClasses,
  primaryTextClasses,
  globalInputClasses,
  statusData,
} = Astro.props;

const currentRole = currentUser?.profile?.role;
const projectId = project?.id;
if (currentRole === "Client") {
  return;
}
---

{
  (currentRole === "Admin" || currentRole === "Staff") && (
    <div id="content-activity-log" class="tab-content p-4 color-background relative">
      <SimpleProjectLog
        projectId={projectId}
        globalInputClasses={globalInputClasses}
        secondaryTextClasses={secondaryTextClasses}
        primaryTextClasses={primaryTextClasses}
      />
    </div>
  )
}
