---
interface Props {
  project: any;
  projectStatus?: number;
  projectStatusLabel?: string;
  currentUser?: any;
  fileType?: string;
}
import FileManager from "./FileManager.astro";
const { project, projectStatus, fileType = "media", projectStatusLabel, currentUser } = Astro.props;

const currentRole = currentUser?.profile?.role;
const projectId = project?.id;
const authorProfile = currentUser?.profile;
---

<div id="content-documents" class="tab-content hidden">
  {
    projectStatus === 10 ||
    projectStatus === 20 ||
    projectStatus === 30 ||
    projectStatus === 40 ||
    projectStatus === 50 ? (
      <FileManager
        projectId={project.id}
        currentUser={currentUser}
        currentRole={currentUser?.profile?.role}
        projectAuthorId={project.author_id}
      />
    ) : null
  }
</div>
