---
// Demo/example component - Layout and Welcome components not available
// import Welcome from '../components/Welcome.astro';
// import Layout from '../layouts/Layout.astro';
---

<div>
	<!-- Welcome component removed - demo file -->
</div>
