---
import LayoutTwoColumn from "../../components/layouts/LayoutTwoColumn.astro";
import DotGrid from "../../components/ui/DotGrid.astro";
import LoginForm from "../../features/forms/components/LoginForm.astro";
---

<LayoutTwoColumn
  title="Login / Register"
  description="Login or register to access your dashboard"
  ratio="2/3"
  hideFooter={true}
>
  <div slot="left" class="hidden md:block">
    <DotGrid
      id="dotGrid"
      class="absolute inset-0 -z-10 min-h-full w-full"
      spacing="1rem"
      baseOpacity={0.35}
      dotColor="primary-500"
    />
  </div>
  <div slot="right" class="">
    <LoginForm />
  </div>
</LayoutTwoColumn>
