<section class="j5w_LN24FuYb6WiMGvul _Xns0Wjl3BLlIPtz2edB">
  <div
    class="O6fABJPMfXjR3JaNKMui eQBRejYHR_MmxAuw7a2p lMGGxJGpq_EmDqikc6xq rDy78aqYCdlVbn1AYx_Y NnjUZ5xJwhg9QVw6z6tO c2o4iKAiorg3anKO2ST_ dhHE8KBuCsQILEzSF6KD asiM2r3KKappeL7cJd45 TNKwUFt_JKfd1xHcm8dc"
  >
    <div
      class="hfg9kH8_fM5X2MfWq1BA WhuAYjbSprszuhtqgVk7 kOhzJ5YoQlCRjiHBbWR_ _oGw3v7TmMKu5h0Bm3TW z3WF7SWOjGNcztDZcsY2 vRGyIDcxS3ydqsPYCdDn __wmbWKrTIy9dnCwlUdJ"
    >
      <div
        class="v2BB43FC_YhbYc2cwp2Z d9KaSaBFKzmTOUJHRwyE CcYakkl_ELn81nmfjFZ9 _8fieS7i_XHXXOpaArO9 uUHJw32Xe1WcNlfayunk"
      >
        <a
          href="#"
          class="f4f7uCnb9uq5btwF_C_y WhuAYjbSprszuhtqgVk7 I48kjgygTcKBfy1Ned2k oeItFFgVBGnWtxvrbbEr _Gd7FMH0xsawHcnFl_E2 TsygRW56pJakhOop3oFT taisKvlFToKAuWpUMGKi sNhGMfXh5qpOlS95mw8M Jq6JPnXv08JtU1cDX5Sb bEmcNdSIoQWMi_qlDWvQ Ll9q9VQNfffJO7sdzCuE z2kNVEq9LYXEaTHili51 _5GR6uhgl9vIjB1LEb7b g2EM_qPcG3hFiEz8ZrJv uK1AbKa5fIykTo6CO7YT"
          role="alert"
        >
          <span
            class="NGsrL3l2kxSHBbTfI3XZ _Gd7FMH0xsawHcnFl_E2 _hvyBeXYc1FPGy0YmCOZ HQUhoOtNB3_hJrFDgyU3 mgJAKK9vWtU1PSpDOSy7 Ll9q9VQNfffJO7sdzCuE P0sEMSGqLpokPnWnm0_G"
            >New</span
          >
          <span class="sNhGMfXh5qpOlS95mw8M _rCvSXeCKULutG6NOkCY"
            >Flowbite is out! See what's new</span
          >
          <svg
            class="a1WftenjstMhEd0ixyBU tT8TOXv5mF6uYm1PZ9i7 _vKxEJkC2TiRgg4Z3zFV"
            fill="currentColor"
            viewBox="0 0 20 20"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              fill-rule="evenodd"
              d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z"
              clip-rule="evenodd"></path>
          </svg>
        </a>
        <h1
          class="IcxvxSjEPCDi7nF2xYDi _1RpOM3YfJo_R6daPVa3 _j0fUTblFhvw9NbQAdvC _cax_JULmPjSi_0OjUdJ bjnT2b_qvjyY8oskmcVZ uZtaXRAMNctX50rLdkzn XWyEHWWk0NqNbS2WDykH sXHYhC1Sx6NzVg8kCH3Y Uh_wjk1K_5NdBWz3avm9 _5GR6uhgl9vIjB1LEb7b"
        >
          We invest in the world’s potential
        </h1>
        <p
          class="zWudAxb8SejjUymhCqba rDy78aqYCdlVbn1AYx_Y taisKvlFToKAuWpUMGKi wUNCdbXmTwWWuj0aoRKU U78cij9oCyBGdJwWAwl_ VJE6Yehfk6jQF4kKauHE hjeWhoIEeGGzZnKQ9NDp Nz2sLxoevNfc3VUxOFke Df2GJckjMJ6cAkEJ869v"
        >
          Here at Flowbite we focus on markets where innovation can unlock long-term value and drive
          economic growth.
        </p>
        <form class="qZPPv75SbOBU0lYFB_oe rDy78aqYCdlVbn1AYx_Y yXu5pO7usrkEgN79Jqfm" action="#">
          <label for="email" class="a2y87NW2EtN3uAJReryb ftvY7f2En3GQ06SgSMDx">Email</label>
          <div class="c_PkEF0I2lwRWqhjuhLN">
            <div
              class="HI5IirNQN9pY0ckoTi0H XiwxMAxnQJrDn0N_OxS3 sDMuoVgAl83ycTYO9Z_B _Xb_LessUL6KItlVbtOZ WhuAYjbSprszuhtqgVk7 SgVGGGauY268teHB5hlM _CMueHfZReuiiLYSvywP"
            >
              <svg
                aria-hidden="true"
                class="a1WftenjstMhEd0ixyBU tT8TOXv5mF6uYm1PZ9i7 wUNCdbXmTwWWuj0aoRKU Df2GJckjMJ6cAkEJ869v"
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 20 20"
                fill="currentColor"
              >
                <path
                  fill-rule="evenodd"
                  d="M10 9a3 3 0 100-6 3 3 0 000 6zm-7 9a7 7 0 1114 0H3z"
                  clip-rule="evenodd"></path>
              </svg>
            </div>

            <input
              type="email"
              id="email"
              class="v1DOVLwZv5vE5pLd2zoq _vYX4e3iy_9sP8mOC6hH yO1H0FDiLbTjiZnOogJL eQdn85kLyeX1TnRYDtJ4 TsygRW56pJakhOop3oFT uitLxBdIFIR23y_DRJAY uZtaXRAMNctX50rLdkzn cPDkaXEB7uAZEDCL6Z16 rm4C7BIv_WgmAADv1313 N_7GgK_MqJ2z0ja0ZrpY LLklfDv5KODwBpP5ixlG EkCkIvsvtBZpyRmbx2xz I3gyLmaw7epqsD6sV1h3 NGvAWlJvxH8ROtNd7cVm BLC17X9ew6_l9orKozkG tBa7elwbLSf2UUEccOsI _5GR6uhgl9vIjB1LEb7b UU5EWCt68usBQ7AIh7wQ _kNRqr_S5vVrNJnIMa2D"
              placeholder="Enter your email here"
              required=""
            />
          </div>
        </form>
      </div>
      <div class="v2BB43FC_YhbYc2cwp2Z">
        <img
          src="https://flowbite.s3.amazonaws.com/blocks/marketing-ui/hero/search-mockup.png"
          class="HfEpsD5IRLSthauRiKWN"
          alt="mockup"
        />
        <img
          src="https://flowbite.s3.amazonaws.com/blocks/marketing-ui/hero/search-mockup-dark.png"
          class="DXlAhON9HabjpikY0rWQ aAv2T8_zW4kFMo19E3hA"
          alt="mockup dark"
        />
      </div>
    </div>

    <div
      class="hfg9kH8_fM5X2MfWq1BA kOhzJ5YoQlCRjiHBbWR_ ti0TDMvDrFncIFf_W9LL hhTsv5dUyo5pV8mFMKuI"
    >
      <div class="_Xb_LessUL6KItlVbtOZ pV5QHq9WvMsCNRvC8qG5">
        <svg
          class="__fODz6BPjHZiJAunDUW Hic0XmeJRc9LnBlsBw1Z _hvyBeXYc1FPGy0YmCOZ urabavyCxQuNta7e9flI Ob9LHhk5_ZZLlGX_E0cX COLXryk4dLcCS3dLmD6b"
          fill="currentColor"
          viewBox="0 0 20 20"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            fill-rule="evenodd"
            d="M4 2a2 2 0 00-2 2v11a3 3 0 106 0V4a2 2 0 00-2-2H4zm1 14a1 1 0 100-2 1 1 0 000 2zm5-1.757l4.9-4.9a2 2 0 000-2.828L13.485 5.1a2 2 0 00-2.828 0L10 5.757v8.486zM16 18H9.071l6-6H16a2 2 0 012 2v2a2 2 0 01-2 2z"
            clip-rule="evenodd"></path>
        </svg>
        <div>
          <h3
            class="vtYP8yh_57D85esuKwGF gd36nbySmfQS2ATmd8_d B0KRAxUWa6o1fcxoCms2 _k_QFdAt60o_I4_Fgwql uZtaXRAMNctX50rLdkzn _5GR6uhgl9vIjB1LEb7b"
          >
            Customizable Categories
          </h3>
          <p class="wUNCdbXmTwWWuj0aoRKU Df2GJckjMJ6cAkEJ869v">
            Host code that you don't want to share with the world in private.
          </p>
        </div>
      </div>
      <div class="_Xb_LessUL6KItlVbtOZ pV5QHq9WvMsCNRvC8qG5">
        <svg
          class="__fODz6BPjHZiJAunDUW Hic0XmeJRc9LnBlsBw1Z _hvyBeXYc1FPGy0YmCOZ urabavyCxQuNta7e9flI Ob9LHhk5_ZZLlGX_E0cX COLXryk4dLcCS3dLmD6b"
          fill="currentColor"
          viewBox="0 0 20 20"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            fill-rule="evenodd"
            d="M5 9V7a5 5 0 0110 0v2a2 2 0 012 2v5a2 2 0 01-2 2H5a2 2 0 01-2-2v-5a2 2 0 012-2zm8-2v2H7V7a3 3 0 016 0z"
            clip-rule="evenodd"></path>
        </svg>
        <div>
          <h3
            class="vtYP8yh_57D85esuKwGF gd36nbySmfQS2ATmd8_d B0KRAxUWa6o1fcxoCms2 _k_QFdAt60o_I4_Fgwql uZtaXRAMNctX50rLdkzn _5GR6uhgl9vIjB1LEb7b"
          >
            Private repos
          </h3>
          <p class="wUNCdbXmTwWWuj0aoRKU Df2GJckjMJ6cAkEJ869v">
            Host code that you don't want to share with the world in private.
          </p>
        </div>
      </div>
      <div class="_Xb_LessUL6KItlVbtOZ pV5QHq9WvMsCNRvC8qG5">
        <svg
          class="__fODz6BPjHZiJAunDUW Hic0XmeJRc9LnBlsBw1Z _hvyBeXYc1FPGy0YmCOZ urabavyCxQuNta7e9flI Ob9LHhk5_ZZLlGX_E0cX COLXryk4dLcCS3dLmD6b"
          fill="currentColor"
          viewBox="0 0 20 20"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            fill-rule="evenodd"
            d="M3 3a1 1 0 000 2v8a2 2 0 002 2h2.586l-1.293 1.293a1 1 0 101.414 1.414L10 15.414l2.293 2.293a1 1 0 001.414-1.414L12.414 15H15a2 2 0 002-2V5a1 1 0 100-2H3zm11 4a1 1 0 10-2 0v4a1 1 0 102 0V7zm-3 1a1 1 0 10-2 0v3a1 1 0 102 0V8zM8 9a1 1 0 00-2 0v2a1 1 0 102 0V9z"
            clip-rule="evenodd"></path>
        </svg>
        <div>
          <h3
            class="vtYP8yh_57D85esuKwGF gd36nbySmfQS2ATmd8_d B0KRAxUWa6o1fcxoCms2 _k_QFdAt60o_I4_Fgwql uZtaXRAMNctX50rLdkzn _5GR6uhgl9vIjB1LEb7b"
          >
            Tracking Saving Rate
          </h3>
          <p class="wUNCdbXmTwWWuj0aoRKU Df2GJckjMJ6cAkEJ869v">
            Host code that you don't want to share with the world in private.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

<section
  class="ZfgMaxtsBzFu151xg7KP wz_nwThdIJcQW8Jxm5QM wNuxE2XRwfir3lNSV_cp LLklfDv5KODwBpP5ixlG z2kNVEq9LYXEaTHili51 wtDhnP7iN7ZBczI9vrcc"
>
  <div
    class="O6fABJPMfXjR3JaNKMui eQBRejYHR_MmxAuw7a2p lMGGxJGpq_EmDqikc6xq rDy78aqYCdlVbn1AYx_Y NnjUZ5xJwhg9QVw6z6tO c2o4iKAiorg3anKO2ST_"
  >
    <div class="wFg8XJIzFvH4FwhyE6Z_ _Ji5H6aW5Yl_FbRZf41b">
      <div
        class="WhuAYjbSprszuhtqgVk7 kOhzJ5YoQlCRjiHBbWR_ HAukMdGXrpE_wgyw2WKj hKQgAAiHupTO_Mh0HHoB YpzDT_YGMBMGX_sXivep"
      >
        <div class="YjFQZPjOXMo3bxrac0IM">
          <h2
            class="IcxvxSjEPCDi7nF2xYDi _1RpOM3YfJo_R6daPVa3 _j0fUTblFhvw9NbQAdvC bjnT2b_qvjyY8oskmcVZ uZtaXRAMNctX50rLdkzn XWyEHWWk0NqNbS2WDykH _5GR6uhgl9vIjB1LEb7b"
          >
            Move beyond
          </h2>
          <p
            class="uitLxBdIFIR23y_DRJAY wUNCdbXmTwWWuj0aoRKU TIg2cc6e5mAu_WZjw2fD Df2GJckjMJ6cAkEJ869v"
          >
            We are strategists, designers and developers. Innovators and problem solvers. Small
            enough to be simple and quick, but big enough to deliver the scope you want at the pace
            you need.
          </p>
          <p
            class="uitLxBdIFIR23y_DRJAY wUNCdbXmTwWWuj0aoRKU TIg2cc6e5mAu_WZjw2fD Df2GJckjMJ6cAkEJ869v"
          >
            We are strategists, designers and developers. Innovators and problem solvers. Small
            enough to be simple and quick.
          </p>
          <a
            href="#"
            title=""
            class="uZtaXRAMNctX50rLdkzn cPDkaXEB7uAZEDCL6Z16 j5w_LN24FuYb6WiMGvul tw8OcvA4go4h73YpX7X8 MUruTVQ0LJ0ADcZ_3oEU _F8Ds9i7NyNon9Pkme8V _jU4BaOKl5BCND0u0lfU Df2GJckjMJ6cAkEJ869v _W7klWEm2z0tEER3UUix z2kNVEq9LYXEaTHili51 BLC17X9ew6_l9orKozkG uK1AbKa5fIykTo6CO7YT Dl7bdeA3_kYEiCBS7qZp pV5QHq9WvMsCNRvC8qG5 f4f7uCnb9uq5btwF_C_y WhuAYjbSprszuhtqgVk7 _Xtntc2N2_AY67dJhuUG jPovGh08547knX9s4FqY _rCvSXeCKULutG6NOkCY N_7GgK_MqJ2z0ja0ZrpY sNhGMfXh5qpOlS95mw8M l60nmbBOLcqmCLlExDag MxkCh1Od7CZVGVGtpahb d9KaSaBFKzmTOUJHRwyE"
            role="button"
          >
            Try our dashboard
            <svg
              aria-hidden="true"
              class="a1WftenjstMhEd0ixyBU tT8TOXv5mF6uYm1PZ9i7 _vKxEJkC2TiRgg4Z3zFV i__9ESwitqrrGjfMSuAr"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 20 20"
              fill="currentColor"
            >
              <path
                fill-rule="evenodd"
                d="M12.293 5.293a1 1 0 011.414 0l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-2.293-2.293a1 1 0 010-1.414z"
                clip-rule="evenodd"></path>
            </svg>
          </a>
        </div>

        <div
          class="DXlAhON9HabjpikY0rWQ IcxvxSjEPCDi7nF2xYDi CvX5A16NMDSDcLe4HLIZ uUHJw32Xe1WcNlfayunk"
        >
          <img
            class="_vYX4e3iy_9sP8mOC6hH cPDkaXEB7uAZEDCL6Z16 wNuxE2XRwfir3lNSV_cp N_7GgK_MqJ2z0ja0ZrpY cR_2xpaRUy1t6NBABp7G HfEpsD5IRLSthauRiKWN"
            src="https://flowbite.com/marketing-ui/demo/images/billing-mockup.png"
            alt=""
          />
          <img
            class="DXlAhON9HabjpikY0rWQ _vYX4e3iy_9sP8mOC6hH cPDkaXEB7uAZEDCL6Z16 N_7GgK_MqJ2z0ja0ZrpY cR_2xpaRUy1t6NBABp7G wtDhnP7iN7ZBczI9vrcc aAv2T8_zW4kFMo19E3hA"
            src="https://flowbite.com/marketing-ui/demo/images/billing-mockup-dark.png"
            alt=""
          />
        </div>
      </div>
    </div>
  </div>
</section>

<section class="j5w_LN24FuYb6WiMGvul _Xns0Wjl3BLlIPtz2edB">
  <div
    class="O6fABJPMfXjR3JaNKMui eQBRejYHR_MmxAuw7a2p lMGGxJGpq_EmDqikc6xq rDy78aqYCdlVbn1AYx_Y NnjUZ5xJwhg9QVw6z6tO c2o4iKAiorg3anKO2ST_"
  >
    <div class="WT6tcJyvB5sHpRAEFxOZ _oGw3v7TmMKu5h0Bm3TW z3WF7SWOjGNcztDZcsY2">
      <h2
        class="IcxvxSjEPCDi7nF2xYDi _1RpOM3YfJo_R6daPVa3 _j0fUTblFhvw9NbQAdvC bjnT2b_qvjyY8oskmcVZ uZtaXRAMNctX50rLdkzn XWyEHWWk0NqNbS2WDykH _5GR6uhgl9vIjB1LEb7b"
      >
        Designed for business teams like yours
      </h2>
      <p class="wUNCdbXmTwWWuj0aoRKU Df2GJckjMJ6cAkEJ869v iYB9BJW8SRtr61D51tV9">
        Here at Flowbite we focus on markets where technology, innovation, and capital can unlock
        long-term value and drive economic growth.
      </p>
    </div>

    <div
      class="D5OlbSTBw1CfsuazCjIC C9bgkr6tjJW71UrVAHi3 TwttL1L7Rqox6wfT__nG tYsJU6wc3liSS2Nz8Gbw ktd_8a8RlZ4_f5NvEUm7 tCpBvVcYN6Xfd2E_YO4L LlpQ886e6mhzXiS15YGi"
    >
      <div>
        <div
          class="_Xb_LessUL6KItlVbtOZ WhuAYjbSprszuhtqgVk7 pV5QHq9WvMsCNRvC8qG5 z8TzH3bG8wGjSRc5dwqu _fRuaLRCDFwk5Ecbp8Hn N_7GgK_MqJ2z0ja0ZrpY DK6_0mhoLu2uYxXDdT_Z _CkVm1fnFsEefJMnQRlF"
        >
          <svg
            class="_38BcWGklJeAxbALd0TJ NiuM6guzZPbAsPLrp99J urabavyCxQuNta7e9flI jueZ3PMi33TBvzrqQq9E"
            fill="currentColor"
            viewBox="0 0 20 20"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path d="M3 12v3c0 1.657 3.134 3 7 3s7-1.343 7-3v-3c0 1.657-3.134 3-7 3s-7-1.343-7-3z"
            ></path>
            <path d="M3 7v3c0 1.657 3.134 3 7 3s7-1.343 7-3V7c0 1.657-3.134 3-7 3S3 8.657 3 7z"
            ></path>
            <path d="M17 5c0 1.657-3.134 3-7 3S3 6.657 3 5s3.134-3 7-3 7 1.343 7 3z"></path>
          </svg>
        </div>

        <div class="zDMTz821HyZxWe7D7VZD">
          <h3 class="YTzhDQiiljQa_1b_7Ahq u2gUZHq2Ln1UHr5agIwW _5GR6uhgl9vIjB1LEb7b">
            Project Management
          </h3>

          <ul role="list" class="sc5Mw0vDCJOVnhujHsK7 YjFQZPjOXMo3bxrac0IM">
            <li class="_Xb_LessUL6KItlVbtOZ UwlqHIBuu_DUYu3jVmVP">
              <div
                class="f4f7uCnb9uq5btwF_C_y WhuAYjbSprszuhtqgVk7 pV5QHq9WvMsCNRvC8qG5 a1WftenjstMhEd0ixyBU tT8TOXv5mF6uYm1PZ9i7 Ll9q9VQNfffJO7sdzCuE DK6_0mhoLu2uYxXDdT_Z urabavyCxQuNta7e9flI _CkVm1fnFsEefJMnQRlF jueZ3PMi33TBvzrqQq9E"
              >
                <svg
                  class="_uqxGt2LBHq9yPnAW1oJ Ii2qVV2KTkjG4KpRuuCN"
                  xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 20 20"
                  fill="currentColor"
                >
                  <path
                    fill-rule="evenodd"
                    d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                    clip-rule="evenodd"></path>
                </svg>
              </div>
              <span class="_k_QFdAt60o_I4_Fgwql wUNCdbXmTwWWuj0aoRKU Df2GJckjMJ6cAkEJ869v">
                Unified Contribution Graph
              </span>
            </li>

            <li class="_Xb_LessUL6KItlVbtOZ UwlqHIBuu_DUYu3jVmVP">
              <div
                class="f4f7uCnb9uq5btwF_C_y WhuAYjbSprszuhtqgVk7 pV5QHq9WvMsCNRvC8qG5 a1WftenjstMhEd0ixyBU tT8TOXv5mF6uYm1PZ9i7 Ll9q9VQNfffJO7sdzCuE DK6_0mhoLu2uYxXDdT_Z urabavyCxQuNta7e9flI _CkVm1fnFsEefJMnQRlF jueZ3PMi33TBvzrqQq9E"
              >
                <svg
                  class="_uqxGt2LBHq9yPnAW1oJ Ii2qVV2KTkjG4KpRuuCN"
                  xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 20 20"
                  fill="currentColor"
                >
                  <path
                    fill-rule="evenodd"
                    d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                    clip-rule="evenodd"></path>
                </svg>
              </div>
              <span class="_k_QFdAt60o_I4_Fgwql wUNCdbXmTwWWuj0aoRKU Df2GJckjMJ6cAkEJ869v">
                Org activity graph
              </span>
            </li>

            <li class="_Xb_LessUL6KItlVbtOZ UwlqHIBuu_DUYu3jVmVP">
              <div
                class="f4f7uCnb9uq5btwF_C_y WhuAYjbSprszuhtqgVk7 pV5QHq9WvMsCNRvC8qG5 a1WftenjstMhEd0ixyBU tT8TOXv5mF6uYm1PZ9i7 Ll9q9VQNfffJO7sdzCuE DK6_0mhoLu2uYxXDdT_Z urabavyCxQuNta7e9flI _CkVm1fnFsEefJMnQRlF jueZ3PMi33TBvzrqQq9E"
              >
                <svg
                  class="_uqxGt2LBHq9yPnAW1oJ Ii2qVV2KTkjG4KpRuuCN"
                  xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 20 20"
                  fill="currentColor"
                >
                  <path
                    fill-rule="evenodd"
                    d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                    clip-rule="evenodd"></path>
                </svg>
              </div>
              <span class="_k_QFdAt60o_I4_Fgwql wUNCdbXmTwWWuj0aoRKU Df2GJckjMJ6cAkEJ869v">
                Org dependency insights
              </span>
            </li>

            <li class="_Xb_LessUL6KItlVbtOZ UwlqHIBuu_DUYu3jVmVP">
              <div
                class="f4f7uCnb9uq5btwF_C_y WhuAYjbSprszuhtqgVk7 pV5QHq9WvMsCNRvC8qG5 a1WftenjstMhEd0ixyBU tT8TOXv5mF6uYm1PZ9i7 Ll9q9VQNfffJO7sdzCuE DK6_0mhoLu2uYxXDdT_Z urabavyCxQuNta7e9flI _CkVm1fnFsEefJMnQRlF jueZ3PMi33TBvzrqQq9E"
              >
                <svg
                  class="_uqxGt2LBHq9yPnAW1oJ Ii2qVV2KTkjG4KpRuuCN"
                  xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 20 20"
                  fill="currentColor"
                >
                  <path
                    fill-rule="evenodd"
                    d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                    clip-rule="evenodd"></path>
                </svg>
              </div>
              <span class="_k_QFdAt60o_I4_Fgwql wUNCdbXmTwWWuj0aoRKU Df2GJckjMJ6cAkEJ869v">
                Milestones
              </span>
            </li>

            <li class="_Xb_LessUL6KItlVbtOZ UwlqHIBuu_DUYu3jVmVP">
              <div
                class="f4f7uCnb9uq5btwF_C_y WhuAYjbSprszuhtqgVk7 pV5QHq9WvMsCNRvC8qG5 a1WftenjstMhEd0ixyBU tT8TOXv5mF6uYm1PZ9i7 Ll9q9VQNfffJO7sdzCuE DK6_0mhoLu2uYxXDdT_Z urabavyCxQuNta7e9flI _CkVm1fnFsEefJMnQRlF jueZ3PMi33TBvzrqQq9E"
              >
                <svg
                  class="_uqxGt2LBHq9yPnAW1oJ Ii2qVV2KTkjG4KpRuuCN"
                  xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 20 20"
                  fill="currentColor"
                >
                  <path
                    fill-rule="evenodd"
                    d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                    clip-rule="evenodd"></path>
                </svg>
              </div>
              <span class="_k_QFdAt60o_I4_Fgwql wUNCdbXmTwWWuj0aoRKU Df2GJckjMJ6cAkEJ869v">
                Repo insights
              </span>
            </li>
          </ul>
        </div>
      </div>

      <div>
        <div
          class="_Xb_LessUL6KItlVbtOZ WhuAYjbSprszuhtqgVk7 pV5QHq9WvMsCNRvC8qG5 z8TzH3bG8wGjSRc5dwqu _fRuaLRCDFwk5Ecbp8Hn oNjOfZ9emqiyO9ShPw_O N_7GgK_MqJ2z0ja0ZrpY IjwAIebqnWhxjKFNFA2V"
        >
          <svg
            class="_38BcWGklJeAxbALd0TJ NiuM6guzZPbAsPLrp99J nC_u7q728uCtOy_14RBH ruGOsN1MATyTVebADYPp"
            fill="currentColor"
            viewBox="0 0 20 20"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              fill-rule="evenodd"
              d="M12.316 3.051a1 1 0 01.633 1.265l-4 12a1 1 0 11-1.898-.632l4-12a1 1 0 011.265-.633zM5.707 6.293a1 1 0 010 1.414L3.414 10l2.293 2.293a1 1 0 11-1.414 1.414l-3-3a1 1 0 010-1.414l3-3a1 1 0 011.414 0zm8.586 0a1 1 0 011.414 0l3 3a1 1 0 010 1.414l-3 3a1 1 0 11-1.414-1.414L16.586 10l-2.293-2.293a1 1 0 010-1.414z"
              clip-rule="evenodd"></path>
          </svg>
        </div>

        <div class="zDMTz821HyZxWe7D7VZD">
          <h3 class="YTzhDQiiljQa_1b_7Ahq u2gUZHq2Ln1UHr5agIwW _5GR6uhgl9vIjB1LEb7b">
            Collaborative Coding
          </h3>

          <ul role="list" class="sc5Mw0vDCJOVnhujHsK7 YjFQZPjOXMo3bxrac0IM">
            <li class="_Xb_LessUL6KItlVbtOZ UwlqHIBuu_DUYu3jVmVP">
              <div
                class="f4f7uCnb9uq5btwF_C_y WhuAYjbSprszuhtqgVk7 pV5QHq9WvMsCNRvC8qG5 a1WftenjstMhEd0ixyBU tT8TOXv5mF6uYm1PZ9i7 nC_u7q728uCtOy_14RBH oNjOfZ9emqiyO9ShPw_O Ll9q9VQNfffJO7sdzCuE IjwAIebqnWhxjKFNFA2V ruGOsN1MATyTVebADYPp"
              >
                <svg
                  class="_uqxGt2LBHq9yPnAW1oJ Ii2qVV2KTkjG4KpRuuCN"
                  xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 20 20"
                  fill="currentColor"
                >
                  <path
                    fill-rule="evenodd"
                    d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                    clip-rule="evenodd"></path>
                </svg>
              </div>
              <span class="_k_QFdAt60o_I4_Fgwql wUNCdbXmTwWWuj0aoRKU Df2GJckjMJ6cAkEJ869v">
                Dynamic reports and dashboards
              </span>
            </li>

            <li class="_Xb_LessUL6KItlVbtOZ UwlqHIBuu_DUYu3jVmVP">
              <div
                class="f4f7uCnb9uq5btwF_C_y WhuAYjbSprszuhtqgVk7 pV5QHq9WvMsCNRvC8qG5 a1WftenjstMhEd0ixyBU tT8TOXv5mF6uYm1PZ9i7 nC_u7q728uCtOy_14RBH oNjOfZ9emqiyO9ShPw_O Ll9q9VQNfffJO7sdzCuE IjwAIebqnWhxjKFNFA2V ruGOsN1MATyTVebADYPp"
              >
                <svg
                  class="_uqxGt2LBHq9yPnAW1oJ Ii2qVV2KTkjG4KpRuuCN"
                  xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 20 20"
                  fill="currentColor"
                >
                  <path
                    fill-rule="evenodd"
                    d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                    clip-rule="evenodd"></path>
                </svg>
              </div>
              <span class="_k_QFdAt60o_I4_Fgwql wUNCdbXmTwWWuj0aoRKU Df2GJckjMJ6cAkEJ869v">
                Code review assignments
              </span>
            </li>

            <li class="_Xb_LessUL6KItlVbtOZ UwlqHIBuu_DUYu3jVmVP">
              <div
                class="f4f7uCnb9uq5btwF_C_y WhuAYjbSprszuhtqgVk7 pV5QHq9WvMsCNRvC8qG5 a1WftenjstMhEd0ixyBU tT8TOXv5mF6uYm1PZ9i7 nC_u7q728uCtOy_14RBH oNjOfZ9emqiyO9ShPw_O Ll9q9VQNfffJO7sdzCuE IjwAIebqnWhxjKFNFA2V ruGOsN1MATyTVebADYPp"
              >
                <svg
                  class="_uqxGt2LBHq9yPnAW1oJ Ii2qVV2KTkjG4KpRuuCN"
                  xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 20 20"
                  fill="currentColor"
                >
                  <path
                    fill-rule="evenodd"
                    d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                    clip-rule="evenodd"></path>
                </svg>
              </div>
              <span class="_k_QFdAt60o_I4_Fgwql wUNCdbXmTwWWuj0aoRKU Df2GJckjMJ6cAkEJ869v">
                Team discussions
              </span>
            </li>

            <li class="_Xb_LessUL6KItlVbtOZ UwlqHIBuu_DUYu3jVmVP">
              <div
                class="f4f7uCnb9uq5btwF_C_y WhuAYjbSprszuhtqgVk7 pV5QHq9WvMsCNRvC8qG5 a1WftenjstMhEd0ixyBU tT8TOXv5mF6uYm1PZ9i7 nC_u7q728uCtOy_14RBH oNjOfZ9emqiyO9ShPw_O Ll9q9VQNfffJO7sdzCuE IjwAIebqnWhxjKFNFA2V ruGOsN1MATyTVebADYPp"
              >
                <svg
                  class="_uqxGt2LBHq9yPnAW1oJ Ii2qVV2KTkjG4KpRuuCN"
                  xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 20 20"
                  fill="currentColor"
                >
                  <path
                    fill-rule="evenodd"
                    d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                    clip-rule="evenodd"></path>
                </svg>
              </div>
              <span class="_k_QFdAt60o_I4_Fgwql wUNCdbXmTwWWuj0aoRKU Df2GJckjMJ6cAkEJ869v">
                Protected branches
              </span>
            </li>

            <li class="_Xb_LessUL6KItlVbtOZ UwlqHIBuu_DUYu3jVmVP">
              <div
                class="f4f7uCnb9uq5btwF_C_y WhuAYjbSprszuhtqgVk7 pV5QHq9WvMsCNRvC8qG5 a1WftenjstMhEd0ixyBU tT8TOXv5mF6uYm1PZ9i7 nC_u7q728uCtOy_14RBH oNjOfZ9emqiyO9ShPw_O Ll9q9VQNfffJO7sdzCuE IjwAIebqnWhxjKFNFA2V ruGOsN1MATyTVebADYPp"
              >
                <svg
                  class="_uqxGt2LBHq9yPnAW1oJ Ii2qVV2KTkjG4KpRuuCN"
                  xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 20 20"
                  fill="currentColor"
                >
                  <path
                    fill-rule="evenodd"
                    d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                    clip-rule="evenodd"></path>
                </svg>
              </div>
              <span class="_k_QFdAt60o_I4_Fgwql wUNCdbXmTwWWuj0aoRKU Df2GJckjMJ6cAkEJ869v">
                Draft pull requests
              </span>
            </li>
          </ul>
        </div>
      </div>

      <div>
        <div
          class="_Xb_LessUL6KItlVbtOZ WhuAYjbSprszuhtqgVk7 pV5QHq9WvMsCNRvC8qG5 z8TzH3bG8wGjSRc5dwqu _fRuaLRCDFwk5Ecbp8Hn IcxvxSjEPCDi7nF2xYDi ZHBZLYpxJXpPBYr3RFT_ N_7GgK_MqJ2z0ja0ZrpY nIM0B0vY3Oy5BYwZ3UdY"
        >
          <svg
            class="_38BcWGklJeAxbALd0TJ NiuM6guzZPbAsPLrp99J EjUsSMLzJuJzDl6QZwgM w4RxFEq2TzPiMKJQbGBf"
            fill="currentColor"
            viewBox="0 0 20 20"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              fill-rule="evenodd"
              d="M6.625 2.655A9 9 0 0119 11a1 1 0 11-2 0 7 7 0 00-9.625-6.492 1 1 0 11-.75-1.853zM4.662 4.959A1 1 0 014.75 6.37 6.97 6.97 0 003 11a1 1 0 11-2 0 8.97 8.97 0 012.25-5.953 1 1 0 011.412-.088z"
              clip-rule="evenodd"></path>
            <path
              fill-rule="evenodd"
              d="M5 11a5 5 0 1110 0 1 1 0 11-2 0 3 3 0 10-6 0c0 1.677-.345 3.276-.968 4.729a1 1 0 11-1.838-.789A9.964 9.964 0 005 11zm8.921 2.012a1 1 0 01.831 1.145 19.86 19.86 0 01-.545 2.436 1 1 0 11-1.92-.558c.207-.713.371-1.445.49-2.192a1 1 0 011.144-.83z"
              clip-rule="evenodd"></path>
            <path
              fill-rule="evenodd"
              d="M10 10a1 1 0 011 1c0 2.236-.46 4.368-1.29 6.304a1 1 0 01-1.838-.789A13.952 13.952 0 009 11a1 1 0 011-1z"
              clip-rule="evenodd"></path>
          </svg>
        </div>

        <div class="zDMTz821HyZxWe7D7VZD">
          <h3 class="YTzhDQiiljQa_1b_7Ahq u2gUZHq2Ln1UHr5agIwW _5GR6uhgl9vIjB1LEb7b">
            Enterprise Security
          </h3>

          <ul role="list" class="sc5Mw0vDCJOVnhujHsK7 YjFQZPjOXMo3bxrac0IM">
            <li class="_Xb_LessUL6KItlVbtOZ UwlqHIBuu_DUYu3jVmVP">
              <div
                class="f4f7uCnb9uq5btwF_C_y WhuAYjbSprszuhtqgVk7 pV5QHq9WvMsCNRvC8qG5 a1WftenjstMhEd0ixyBU tT8TOXv5mF6uYm1PZ9i7 EjUsSMLzJuJzDl6QZwgM ZHBZLYpxJXpPBYr3RFT_ Ll9q9VQNfffJO7sdzCuE nIM0B0vY3Oy5BYwZ3UdY w4RxFEq2TzPiMKJQbGBf"
              >
                <svg
                  class="_uqxGt2LBHq9yPnAW1oJ Ii2qVV2KTkjG4KpRuuCN"
                  xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 20 20"
                  fill="currentColor"
                >
                  <path
                    fill-rule="evenodd"
                    d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                    clip-rule="evenodd"></path>
                </svg>
              </div>
              <span class="_k_QFdAt60o_I4_Fgwql wUNCdbXmTwWWuj0aoRKU Df2GJckjMJ6cAkEJ869v">
                Required reviews
              </span>
            </li>

            <li class="_Xb_LessUL6KItlVbtOZ UwlqHIBuu_DUYu3jVmVP">
              <div
                class="f4f7uCnb9uq5btwF_C_y WhuAYjbSprszuhtqgVk7 pV5QHq9WvMsCNRvC8qG5 a1WftenjstMhEd0ixyBU tT8TOXv5mF6uYm1PZ9i7 EjUsSMLzJuJzDl6QZwgM ZHBZLYpxJXpPBYr3RFT_ Ll9q9VQNfffJO7sdzCuE nIM0B0vY3Oy5BYwZ3UdY w4RxFEq2TzPiMKJQbGBf"
              >
                <svg
                  class="_uqxGt2LBHq9yPnAW1oJ Ii2qVV2KTkjG4KpRuuCN"
                  xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 20 20"
                  fill="currentColor"
                >
                  <path
                    fill-rule="evenodd"
                    d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                    clip-rule="evenodd"></path>
                </svg>
              </div>
              <span class="_k_QFdAt60o_I4_Fgwql wUNCdbXmTwWWuj0aoRKU Df2GJckjMJ6cAkEJ869v">
                Dependabot security and
              </span>
            </li>

            <li class="_Xb_LessUL6KItlVbtOZ UwlqHIBuu_DUYu3jVmVP">
              <div
                class="f4f7uCnb9uq5btwF_C_y WhuAYjbSprszuhtqgVk7 pV5QHq9WvMsCNRvC8qG5 a1WftenjstMhEd0ixyBU tT8TOXv5mF6uYm1PZ9i7 EjUsSMLzJuJzDl6QZwgM ZHBZLYpxJXpPBYr3RFT_ Ll9q9VQNfffJO7sdzCuE nIM0B0vY3Oy5BYwZ3UdY w4RxFEq2TzPiMKJQbGBf"
              >
                <svg
                  class="_uqxGt2LBHq9yPnAW1oJ Ii2qVV2KTkjG4KpRuuCN"
                  xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 20 20"
                  fill="currentColor"
                >
                  <path
                    fill-rule="evenodd"
                    d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                    clip-rule="evenodd"></path>
                </svg>
              </div>
              <span class="_k_QFdAt60o_I4_Fgwql wUNCdbXmTwWWuj0aoRKU Df2GJckjMJ6cAkEJ869v">
                Dependency graph
              </span>
            </li>

            <li class="_Xb_LessUL6KItlVbtOZ UwlqHIBuu_DUYu3jVmVP">
              <div
                class="f4f7uCnb9uq5btwF_C_y WhuAYjbSprszuhtqgVk7 pV5QHq9WvMsCNRvC8qG5 a1WftenjstMhEd0ixyBU tT8TOXv5mF6uYm1PZ9i7 EjUsSMLzJuJzDl6QZwgM ZHBZLYpxJXpPBYr3RFT_ Ll9q9VQNfffJO7sdzCuE nIM0B0vY3Oy5BYwZ3UdY w4RxFEq2TzPiMKJQbGBf"
              >
                <svg
                  class="_uqxGt2LBHq9yPnAW1oJ Ii2qVV2KTkjG4KpRuuCN"
                  xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 20 20"
                  fill="currentColor"
                >
                  <path
                    fill-rule="evenodd"
                    d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                    clip-rule="evenodd"></path>
                </svg>
              </div>
              <span class="_k_QFdAt60o_I4_Fgwql wUNCdbXmTwWWuj0aoRKU Df2GJckjMJ6cAkEJ869v">
                GitHub Advisory Database
              </span>
            </li>

            <li class="_Xb_LessUL6KItlVbtOZ UwlqHIBuu_DUYu3jVmVP">
              <div
                class="f4f7uCnb9uq5btwF_C_y WhuAYjbSprszuhtqgVk7 pV5QHq9WvMsCNRvC8qG5 a1WftenjstMhEd0ixyBU tT8TOXv5mF6uYm1PZ9i7 EjUsSMLzJuJzDl6QZwgM ZHBZLYpxJXpPBYr3RFT_ Ll9q9VQNfffJO7sdzCuE nIM0B0vY3Oy5BYwZ3UdY w4RxFEq2TzPiMKJQbGBf"
              >
                <svg
                  class="_uqxGt2LBHq9yPnAW1oJ Ii2qVV2KTkjG4KpRuuCN"
                  xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 20 20"
                  fill="currentColor"
                >
                  <path
                    fill-rule="evenodd"
                    d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                    clip-rule="evenodd"></path>
                </svg>
              </div>
              <span class="_k_QFdAt60o_I4_Fgwql wUNCdbXmTwWWuj0aoRKU Df2GJckjMJ6cAkEJ869v">
                GPG commit signing verification
              </span>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>

<section
  class="ZfgMaxtsBzFu151xg7KP wz_nwThdIJcQW8Jxm5QM wNuxE2XRwfir3lNSV_cp LLklfDv5KODwBpP5ixlG z2kNVEq9LYXEaTHili51 wtDhnP7iN7ZBczI9vrcc"
>
  <div
    class="O6fABJPMfXjR3JaNKMui eQBRejYHR_MmxAuw7a2p lMGGxJGpq_EmDqikc6xq rDy78aqYCdlVbn1AYx_Y NnjUZ5xJwhg9QVw6z6tO c2o4iKAiorg3anKO2ST_"
  >
    <div
      class="NgLYGpK1ZiEiwe02kQzE rDy78aqYCdlVbn1AYx_Y _oGw3v7TmMKu5h0Bm3TW d9KaSaBFKzmTOUJHRwyE z3WF7SWOjGNcztDZcsY2"
    >
      <h2
        class="_1RpOM3YfJo_R6daPVa3 _j0fUTblFhvw9NbQAdvC bjnT2b_qvjyY8oskmcVZ uZtaXRAMNctX50rLdkzn XWyEHWWk0NqNbS2WDykH _5GR6uhgl9vIjB1LEb7b"
      >
        What you can do with Flowbite
      </h2>
      <p
        class="sc5Mw0vDCJOVnhujHsK7 uitLxBdIFIR23y_DRJAY wUNCdbXmTwWWuj0aoRKU Df2GJckjMJ6cAkEJ869v iYB9BJW8SRtr61D51tV9"
      >
        Here at flowbite we focus on markets where technology, innovation, and capital can unlock
        long-term value and drive economic growth.
      </p>
    </div>

    <div
      class="D5OlbSTBw1CfsuazCjIC C9bgkr6tjJW71UrVAHi3 TwttL1L7Rqox6wfT__nG tYsJU6wc3liSS2Nz8Gbw pYGXn21WyGLwD1GQJsOn ktd_8a8RlZ4_f5NvEUm7 l7DXI4seEgCXj0uQR4YS LlpQ886e6mhzXiS15YGi"
    >
      <div
        class="VbdeSPSU7ACZ0NhsPt1Z j5w_LN24FuYb6WiMGvul N_7GgK_MqJ2z0ja0ZrpY cFkRbkinXXtfowL6T5Ma NGvAWlJvxH8ROtNd7cVm"
      >
        <div
          class="_Xb_LessUL6KItlVbtOZ WhuAYjbSprszuhtqgVk7 pV5QHq9WvMsCNRvC8qG5 _38BcWGklJeAxbALd0TJ NiuM6guzZPbAsPLrp99J N_7GgK_MqJ2z0ja0ZrpY DK6_0mhoLu2uYxXDdT_Z _CkVm1fnFsEefJMnQRlF"
        >
          <svg
            class="iRklyDRNpZpdiVoBcPdr B75KlS0q3LUZKDWET_cF urabavyCxQuNta7e9flI jueZ3PMi33TBvzrqQq9E"
            fill="currentColor"
            viewBox="0 0 20 20"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              fill-rule="evenodd"
              d="M6.672 1.911a1 1 0 10-1.932.518l.259.966a1 1 0 001.932-.518l-.26-.966zM2.429 4.74a1 1 0 10-.517 1.932l.966.259a1 1 0 00.517-1.932l-.966-.26zm8.814-.569a1 1 0 00-1.415-1.414l-.707.707a1 1 0 101.415 1.415l.707-.708zm-7.071 7.072l.707-.707A1 1 0 003.465 9.12l-.708.707a1 1 0 001.415 1.415zm3.2-5.171a1 1 0 00-1.3 1.3l4 10a1 1 0 001.823.075l1.38-2.759 3.018 3.02a1 1 0 001.414-1.415l-3.019-3.02 2.76-1.379a1 1 0 00-.076-1.822l-10-4z"
              clip-rule="evenodd"></path>
          </svg>
        </div>
        <h3
          class="zDMTz821HyZxWe7D7VZD YTzhDQiiljQa_1b_7Ahq u2gUZHq2Ln1UHr5agIwW _5GR6uhgl9vIjB1LEb7b"
        >
          Platform
        </h3>
        <p
          class="p0VAQHK07IsfUfdiKKhJ uitLxBdIFIR23y_DRJAY wUNCdbXmTwWWuj0aoRKU Df2GJckjMJ6cAkEJ869v"
        >
          We keep Flowbite, secure, and free of spam and abuse so that this can be the platform
          where developers come together to create.
        </p>
      </div>

      <div
        class="VbdeSPSU7ACZ0NhsPt1Z j5w_LN24FuYb6WiMGvul N_7GgK_MqJ2z0ja0ZrpY cFkRbkinXXtfowL6T5Ma NGvAWlJvxH8ROtNd7cVm"
      >
        <div
          class="_Xb_LessUL6KItlVbtOZ WhuAYjbSprszuhtqgVk7 pV5QHq9WvMsCNRvC8qG5 _38BcWGklJeAxbALd0TJ NiuM6guzZPbAsPLrp99J N_7GgK_MqJ2z0ja0ZrpY DK6_0mhoLu2uYxXDdT_Z _CkVm1fnFsEefJMnQRlF"
        >
          <svg
            class="iRklyDRNpZpdiVoBcPdr B75KlS0q3LUZKDWET_cF urabavyCxQuNta7e9flI jueZ3PMi33TBvzrqQq9E"
            fill="currentColor"
            viewBox="0 0 20 20"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              fill-rule="evenodd"
              d="M12.316 3.051a1 1 0 01.633 1.265l-4 12a1 1 0 11-1.898-.632l4-12a1 1 0 011.265-.633zM5.707 6.293a1 1 0 010 1.414L3.414 10l2.293 2.293a1 1 0 11-1.414 1.414l-3-3a1 1 0 010-1.414l3-3a1 1 0 011.414 0zm8.586 0a1 1 0 011.414 0l3 3a1 1 0 010 1.414l-3 3a1 1 0 11-1.414-1.414L16.586 10l-2.293-2.293a1 1 0 010-1.414z"
              clip-rule="evenodd"></path>
          </svg>
        </div>
        <h3
          class="zDMTz821HyZxWe7D7VZD YTzhDQiiljQa_1b_7Ahq u2gUZHq2Ln1UHr5agIwW _5GR6uhgl9vIjB1LEb7b"
        >
          Open source
        </h3>
        <p
          class="p0VAQHK07IsfUfdiKKhJ uitLxBdIFIR23y_DRJAY wUNCdbXmTwWWuj0aoRKU Df2GJckjMJ6cAkEJ869v"
        >
          Our Flowbite Security Lab is a world-class security R&amp;D team. We inspire and enable
          the community to secure open source.
        </p>
      </div>

      <div
        class="VbdeSPSU7ACZ0NhsPt1Z j5w_LN24FuYb6WiMGvul N_7GgK_MqJ2z0ja0ZrpY cFkRbkinXXtfowL6T5Ma NGvAWlJvxH8ROtNd7cVm"
      >
        <div
          class="_Xb_LessUL6KItlVbtOZ WhuAYjbSprszuhtqgVk7 pV5QHq9WvMsCNRvC8qG5 _38BcWGklJeAxbALd0TJ NiuM6guzZPbAsPLrp99J N_7GgK_MqJ2z0ja0ZrpY DK6_0mhoLu2uYxXDdT_Z _CkVm1fnFsEefJMnQRlF"
        >
          <svg
            class="iRklyDRNpZpdiVoBcPdr B75KlS0q3LUZKDWET_cF urabavyCxQuNta7e9flI jueZ3PMi33TBvzrqQq9E"
            fill="currentColor"
            viewBox="0 0 20 20"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M11 3a1 1 0 10-2 0v1a1 1 0 102 0V3zM15.657 5.757a1 1 0 00-1.414-1.414l-.707.707a1 1 0 001.414 1.414l.707-.707zM18 10a1 1 0 01-1 1h-1a1 1 0 110-2h1a1 1 0 011 1zM5.05 6.464A1 1 0 106.464 5.05l-.707-.707a1 1 0 00-1.414 1.414l.707.707zM5 10a1 1 0 01-1 1H3a1 1 0 110-2h1a1 1 0 011 1zM8 16v-1h4v1a2 2 0 11-4 0zM12 14c.015-.34.208-.646.477-.859a4 4 0 10-4.954 0c.27.213.462.519.476.859h4.002z"
            ></path>
          </svg>
        </div>
        <h3
          class="zDMTz821HyZxWe7D7VZD YTzhDQiiljQa_1b_7Ahq u2gUZHq2Ln1UHr5agIwW _5GR6uhgl9vIjB1LEb7b"
        >
          Premium products
        </h3>
        <p
          class="p0VAQHK07IsfUfdiKKhJ uitLxBdIFIR23y_DRJAY wUNCdbXmTwWWuj0aoRKU Df2GJckjMJ6cAkEJ869v"
        >
          We embody the shift toward investments in safe and secure software design practices with
          our world-class front-end products.
        </p>
      </div>

      <div
        class="VbdeSPSU7ACZ0NhsPt1Z j5w_LN24FuYb6WiMGvul N_7GgK_MqJ2z0ja0ZrpY cFkRbkinXXtfowL6T5Ma NGvAWlJvxH8ROtNd7cVm"
      >
        <div
          class="_Xb_LessUL6KItlVbtOZ WhuAYjbSprszuhtqgVk7 pV5QHq9WvMsCNRvC8qG5 _38BcWGklJeAxbALd0TJ NiuM6guzZPbAsPLrp99J N_7GgK_MqJ2z0ja0ZrpY DK6_0mhoLu2uYxXDdT_Z _CkVm1fnFsEefJMnQRlF"
        >
          <svg
            class="iRklyDRNpZpdiVoBcPdr B75KlS0q3LUZKDWET_cF urabavyCxQuNta7e9flI jueZ3PMi33TBvzrqQq9E"
            fill="currentColor"
            viewBox="0 0 20 20"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              fill-rule="evenodd"
              d="M4 2a2 2 0 00-2 2v11a3 3 0 106 0V4a2 2 0 00-2-2H4zm1 14a1 1 0 100-2 1 1 0 000 2zm5-1.757l4.9-4.9a2 2 0 000-2.828L13.485 5.1a2 2 0 00-2.828 0L10 5.757v8.486zM16 18H9.071l6-6H16a2 2 0 012 2v2a2 2 0 01-2 2z"
              clip-rule="evenodd"></path>
          </svg>
        </div>
        <h3
          class="zDMTz821HyZxWe7D7VZD YTzhDQiiljQa_1b_7Ahq u2gUZHq2Ln1UHr5agIwW _5GR6uhgl9vIjB1LEb7b"
        >
          Customization
        </h3>
        <p
          class="p0VAQHK07IsfUfdiKKhJ uitLxBdIFIR23y_DRJAY wUNCdbXmTwWWuj0aoRKU Df2GJckjMJ6cAkEJ869v"
        >
          It's easy to customize and style Flowbite. Tweak the look and feel of your UI with
          CSS/Less, and add major features with HTML.
        </p>
      </div>

      <div
        class="VbdeSPSU7ACZ0NhsPt1Z j5w_LN24FuYb6WiMGvul N_7GgK_MqJ2z0ja0ZrpY cFkRbkinXXtfowL6T5Ma NGvAWlJvxH8ROtNd7cVm"
      >
        <div
          class="_Xb_LessUL6KItlVbtOZ WhuAYjbSprszuhtqgVk7 pV5QHq9WvMsCNRvC8qG5 _38BcWGklJeAxbALd0TJ NiuM6guzZPbAsPLrp99J N_7GgK_MqJ2z0ja0ZrpY DK6_0mhoLu2uYxXDdT_Z _CkVm1fnFsEefJMnQRlF"
        >
          <svg
            class="iRklyDRNpZpdiVoBcPdr B75KlS0q3LUZKDWET_cF urabavyCxQuNta7e9flI jueZ3PMi33TBvzrqQq9E"
            fill="currentColor"
            viewBox="0 0 20 20"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              fill-rule="evenodd"
              d="M12.395 2.553a1 1 0 00-1.45-.385c-.345.23-.614.558-.822.88-.214.33-.403.713-.57 1.116-.334.804-.614 1.768-.84 2.734a31.365 31.365 0 00-.613 3.58 2.64 2.64 0 01-.945-1.067c-.328-.68-.398-1.534-.398-2.654A1 1 0 005.05 6.05 6.981 6.981 0 003 11a7 7 0 1011.95-4.95c-.592-.591-.98-.985-1.348-1.467-.363-.476-.724-1.063-1.207-2.03zM12.12 15.12A3 3 0 017 13s.879.5 2.5.5c0-1 .5-4 1.25-4.5.5 1 .786 1.293 1.371 1.879A2.99 2.99 0 0113 13a2.99 2.99 0 01-.879 2.121z"
              clip-rule="evenodd"></path>
          </svg>
        </div>
        <h3
          class="zDMTz821HyZxWe7D7VZD YTzhDQiiljQa_1b_7Ahq u2gUZHq2Ln1UHr5agIwW _5GR6uhgl9vIjB1LEb7b"
        >
          Features
        </h3>
        <p
          class="p0VAQHK07IsfUfdiKKhJ uitLxBdIFIR23y_DRJAY wUNCdbXmTwWWuj0aoRKU Df2GJckjMJ6cAkEJ869v"
        >
          Start with thousands of actions and applications from our community to help you build,
          improve, and accelerate your automated workflows.
        </p>
      </div>

      <div
        class="VbdeSPSU7ACZ0NhsPt1Z j5w_LN24FuYb6WiMGvul N_7GgK_MqJ2z0ja0ZrpY cFkRbkinXXtfowL6T5Ma NGvAWlJvxH8ROtNd7cVm"
      >
        <div
          class="_Xb_LessUL6KItlVbtOZ WhuAYjbSprszuhtqgVk7 pV5QHq9WvMsCNRvC8qG5 _38BcWGklJeAxbALd0TJ NiuM6guzZPbAsPLrp99J N_7GgK_MqJ2z0ja0ZrpY DK6_0mhoLu2uYxXDdT_Z _CkVm1fnFsEefJMnQRlF"
        >
          <svg
            class="iRklyDRNpZpdiVoBcPdr B75KlS0q3LUZKDWET_cF urabavyCxQuNta7e9flI jueZ3PMi33TBvzrqQq9E"
            fill="currentColor"
            viewBox="0 0 20 20"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              fill-rule="evenodd"
              d="M6.625 2.655A9 9 0 0119 11a1 1 0 11-2 0 7 7 0 00-9.625-6.492 1 1 0 11-.75-1.853zM4.662 4.959A1 1 0 014.75 6.37 6.97 6.97 0 003 11a1 1 0 11-2 0 8.97 8.97 0 012.25-5.953 1 1 0 011.412-.088z"
              clip-rule="evenodd"></path>
            <path
              fill-rule="evenodd"
              d="M5 11a5 5 0 1110 0 1 1 0 11-2 0 3 3 0 10-6 0c0 1.677-.345 3.276-.968 4.729a1 1 0 11-1.838-.789A9.964 9.964 0 005 11zm8.921 2.012a1 1 0 01.831 1.145 19.86 19.86 0 01-.545 2.436 1 1 0 11-1.92-.558c.207-.713.371-1.445.49-2.192a1 1 0 011.144-.83z"
              clip-rule="evenodd"></path>
            <path
              fill-rule="evenodd"
              d="M10 10a1 1 0 011 1c0 2.236-.46 4.368-1.29 6.304a1 1 0 01-1.838-.789A13.952 13.952 0 009 11a1 1 0 011-1z"
              clip-rule="evenodd"></path>
          </svg>
        </div>
        <h3
          class="zDMTz821HyZxWe7D7VZD YTzhDQiiljQa_1b_7Ahq u2gUZHq2Ln1UHr5agIwW _5GR6uhgl9vIjB1LEb7b"
        >
          Data privacy
        </h3>
        <p
          class="p0VAQHK07IsfUfdiKKhJ uitLxBdIFIR23y_DRJAY wUNCdbXmTwWWuj0aoRKU Df2GJckjMJ6cAkEJ869v"
        >
          Flowbite is committed to developer privacy and provides a high standard of privacy
          protection to all our customers and team.
        </p>
      </div>

      <div
        class="VbdeSPSU7ACZ0NhsPt1Z j5w_LN24FuYb6WiMGvul N_7GgK_MqJ2z0ja0ZrpY cFkRbkinXXtfowL6T5Ma NGvAWlJvxH8ROtNd7cVm"
      >
        <div
          class="_Xb_LessUL6KItlVbtOZ WhuAYjbSprszuhtqgVk7 pV5QHq9WvMsCNRvC8qG5 _38BcWGklJeAxbALd0TJ NiuM6guzZPbAsPLrp99J N_7GgK_MqJ2z0ja0ZrpY DK6_0mhoLu2uYxXDdT_Z _CkVm1fnFsEefJMnQRlF"
        >
          <svg
            class="iRklyDRNpZpdiVoBcPdr B75KlS0q3LUZKDWET_cF urabavyCxQuNta7e9flI jueZ3PMi33TBvzrqQq9E"
            fill="currentColor"
            viewBox="0 0 20 20"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              fill-rule="evenodd"
              d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-2 0c0 .993-.241 1.929-.668 2.754l-1.524-1.525a3.997 3.997 0 00.078-2.183l1.562-1.562C15.802 8.249 16 9.1 16 10zm-5.165 3.913l1.58 1.58A5.98 5.98 0 0110 16a5.976 5.976 0 01-2.516-.552l1.562-1.562a4.006 4.006 0 001.789.027zm-4.677-2.796a4.002 4.002 0 01-.041-2.08l-.08.08-1.53-1.533A5.98 5.98 0 004 10c0 .954.223 1.856.619 2.657l1.54-1.54zm1.088-6.45A5.974 5.974 0 0110 4c.954 0 1.856.223 2.657.619l-1.54 1.54a4.002 4.002 0 00-2.346.033L7.246 4.668zM12 10a2 2 0 11-4 0 2 2 0 014 0z"
              clip-rule="evenodd"></path>
          </svg>
        </div>
        <h3
          class="zDMTz821HyZxWe7D7VZD YTzhDQiiljQa_1b_7Ahq u2gUZHq2Ln1UHr5agIwW _5GR6uhgl9vIjB1LEb7b"
        >
          Support 24/7
        </h3>
        <p
          class="p0VAQHK07IsfUfdiKKhJ uitLxBdIFIR23y_DRJAY wUNCdbXmTwWWuj0aoRKU Df2GJckjMJ6cAkEJ869v"
        >
          We provide high-quality services all around the world with personal assistance through our
          24/7 premium service.
        </p>
      </div>

      <div
        class="VbdeSPSU7ACZ0NhsPt1Z j5w_LN24FuYb6WiMGvul N_7GgK_MqJ2z0ja0ZrpY cFkRbkinXXtfowL6T5Ma NGvAWlJvxH8ROtNd7cVm"
      >
        <div
          class="_Xb_LessUL6KItlVbtOZ WhuAYjbSprszuhtqgVk7 pV5QHq9WvMsCNRvC8qG5 _38BcWGklJeAxbALd0TJ NiuM6guzZPbAsPLrp99J N_7GgK_MqJ2z0ja0ZrpY DK6_0mhoLu2uYxXDdT_Z _CkVm1fnFsEefJMnQRlF"
        >
          <svg
            class="iRklyDRNpZpdiVoBcPdr B75KlS0q3LUZKDWET_cF urabavyCxQuNta7e9flI jueZ3PMi33TBvzrqQq9E"
            fill="currentColor"
            viewBox="0 0 20 20"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              fill-rule="evenodd"
              d="M10 18a8 8 0 100-16 8 8 0 000 16zM4.332 8.027a6.012 6.012 0 011.912-2.706C6.512 5.73 6.974 6 7.5 6A1.5 1.5 0 019 7.5V8a2 2 0 004 0 2 2 0 011.523-1.943A5.977 5.977 0 0116 10c0 .34-.028.675-.083 1H15a2 2 0 00-2 2v2.197A5.973 5.973 0 0110 16v-2a2 2 0 00-2-2 2 2 0 01-2-2 2 2 0 00-1.668-1.973z"
              clip-rule="evenodd"></path>
          </svg>
        </div>
        <h3
          class="zDMTz821HyZxWe7D7VZD YTzhDQiiljQa_1b_7Ahq u2gUZHq2Ln1UHr5agIwW _5GR6uhgl9vIjB1LEb7b"
        >
          GDPR
        </h3>
        <p
          class="p0VAQHK07IsfUfdiKKhJ uitLxBdIFIR23y_DRJAY wUNCdbXmTwWWuj0aoRKU Df2GJckjMJ6cAkEJ869v"
        >
          Our project is full GDPR compliant. GDPR compliance is shown through our strong and
          transparent actions, not through certifications.
        </p>
      </div>
    </div>
  </div>
</section>

<section class="j5w_LN24FuYb6WiMGvul _Xns0Wjl3BLlIPtz2edB">
  <div
    class="O6fABJPMfXjR3JaNKMui eQBRejYHR_MmxAuw7a2p lMGGxJGpq_EmDqikc6xq rDy78aqYCdlVbn1AYx_Y NnjUZ5xJwhg9QVw6z6tO c2o4iKAiorg3anKO2ST_"
  >
    <div class="bE0lR1dkZ6cUbBeP8QP2 HAukMdGXrpE_wgyw2WKj tYsJU6wc3liSS2Nz8Gbw">
      <div class="wUNCdbXmTwWWuj0aoRKU TIg2cc6e5mAu_WZjw2fD Df2GJckjMJ6cAkEJ869v">
        <ul
          class="v1DOVLwZv5vE5pLd2zoq gS7E_Skoj88f14yvKVTu YjFQZPjOXMo3bxrac0IM JLJQRDg9XGWZSMQSTHjk _SFdxz0plHwxlISZ1wx2 _javFmSqm9Vqj5lLxkk8 BjuU__SnxVcZ_maXKnQv"
          id="testimonialTab"
          role="tablist"
        >
          <li class="pRO6MHjnQX8iSrgd3qg0 jEE6s3wJ8eswtjACBvEr" role="presentation">
            <button
              class="_vYX4e3iy_9sP8mOC6hH WPN66xY1_3zfXGTk41Y6 N_7GgK_MqJ2z0ja0ZrpY MUruTVQ0LJ0ADcZ_3oEU uK1AbKa5fIykTo6CO7YT"
              id="testimonial-1-tab"
              type="button"
              role="tab"
              aria-controls="testimonial-1"
              aria-selected="true"
            >
              <figcaption class="Fu6FVVFREdpfJL83hG97">
                <div class="_Xb_LessUL6KItlVbtOZ UwlqHIBuu_DUYu3jVmVP">
                  <img
                    class="__fODz6BPjHZiJAunDUW Hic0XmeJRc9LnBlsBw1Z Ll9q9VQNfffJO7sdzCuE"
                    src="https://flowbite.s3.amazonaws.com/blocks/marketing-ui/avatars/michael-gouch.png"
                    alt="profile picture"
                  />
                  <div
                    class="gd36nbySmfQS2ATmd8_d B0KRAxUWa6o1fcxoCms2 uZtaXRAMNctX50rLdkzn _5GR6uhgl9vIjB1LEb7b"
                  >
                    Michael Gough
                  </div>
                </div>
                <div
                  class="sNhGMfXh5qpOlS95mw8M guEgHqpKespbfkdf4vIC wUNCdbXmTwWWuj0aoRKU Df2GJckjMJ6cAkEJ869v"
                >
                  Web developer at Google
                </div>
              </figcaption>
            </button>
          </li>
          <li class="pRO6MHjnQX8iSrgd3qg0 jEE6s3wJ8eswtjACBvEr" role="presentation">
            <button
              class="_vYX4e3iy_9sP8mOC6hH WPN66xY1_3zfXGTk41Y6 N_7GgK_MqJ2z0ja0ZrpY MUruTVQ0LJ0ADcZ_3oEU uK1AbKa5fIykTo6CO7YT"
              id="testimonial-2-tab"
              type="button"
              role="tab"
              aria-controls="testimonial-2"
              aria-selected="false"
            >
              <figcaption class="Fu6FVVFREdpfJL83hG97">
                <div class="_Xb_LessUL6KItlVbtOZ UwlqHIBuu_DUYu3jVmVP">
                  <img
                    class="__fODz6BPjHZiJAunDUW Hic0XmeJRc9LnBlsBw1Z Ll9q9VQNfffJO7sdzCuE"
                    src="https://flowbite.s3.amazonaws.com/blocks/marketing-ui/avatars/karen-nelson.png"
                    alt="profile picture"
                  />
                  <div
                    class="gd36nbySmfQS2ATmd8_d B0KRAxUWa6o1fcxoCms2 uZtaXRAMNctX50rLdkzn _5GR6uhgl9vIjB1LEb7b"
                  >
                    Bonnie Green
                  </div>
                </div>
                <div
                  class="sNhGMfXh5qpOlS95mw8M guEgHqpKespbfkdf4vIC wUNCdbXmTwWWuj0aoRKU Df2GJckjMJ6cAkEJ869v"
                >
                  CEO at Facebook
                </div>
              </figcaption>
            </button>
          </li>
          <li class="pRO6MHjnQX8iSrgd3qg0 jEE6s3wJ8eswtjACBvEr" role="presentation">
            <button
              class="_vYX4e3iy_9sP8mOC6hH WPN66xY1_3zfXGTk41Y6 N_7GgK_MqJ2z0ja0ZrpY MUruTVQ0LJ0ADcZ_3oEU uK1AbKa5fIykTo6CO7YT"
              id="testimonial-3-tab"
              type="button"
              role="tab"
              aria-controls="testimonial-3"
              aria-selected="false"
            >
              <figcaption class="Fu6FVVFREdpfJL83hG97">
                <div class="_Xb_LessUL6KItlVbtOZ UwlqHIBuu_DUYu3jVmVP">
                  <img
                    class="__fODz6BPjHZiJAunDUW Hic0XmeJRc9LnBlsBw1Z Ll9q9VQNfffJO7sdzCuE"
                    src="https://flowbite.s3.amazonaws.com/blocks/marketing-ui/avatars/roberta-casas.png"
                    alt="profile picture"
                  />
                  <div
                    class="gd36nbySmfQS2ATmd8_d B0KRAxUWa6o1fcxoCms2 uZtaXRAMNctX50rLdkzn _5GR6uhgl9vIjB1LEb7b"
                  >
                    Lana Byrd
                  </div>
                </div>
                <div
                  class="sNhGMfXh5qpOlS95mw8M guEgHqpKespbfkdf4vIC wUNCdbXmTwWWuj0aoRKU Df2GJckjMJ6cAkEJ869v"
                >
                  CTO at Microsoft
                </div>
              </figcaption>
            </button>
          </li>
        </ul>
        <a
          class="f4f7uCnb9uq5btwF_C_y WhuAYjbSprszuhtqgVk7 tZBZaSyodYcpr3eUlC5j sNhGMfXh5qpOlS95mw8M _rCvSXeCKULutG6NOkCY urabavyCxQuNta7e9flI gY9luLGG3hnSAHgMh0Aq Ob9LHhk5_ZZLlGX_E0cX"
          href="#"
        >
          View other 20 testimonials
          <svg
            class="tsSFtDItokZCqJ_dZrnQ y4pONBZhi44w4FwAX7MQ u32IvN5Hgfj_xO45uORf"
            fill="currentColor"
            viewBox="0 0 20 20"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              fill-rule="evenodd"
              d="M12.293 5.293a1 1 0 011.414 0l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-2.293-2.293a1 1 0 010-1.414z"
              clip-rule="evenodd"></path>
          </svg>
        </a>
      </div>

      <div
        class="C_juA8vEnGH_JWwKbPcz sc5Mw0vDCJOVnhujHsK7 _iGzlVq15Y3_LzdHsupe _mCU4A9WxqUBxu2t5OYn _YVzBvL7CyKGTTR2lWfE yKypayEIBVhHWU6T7onf"
      >
        <div id="testimonialTabContent">
          <div
            class="WPN66xY1_3zfXGTk41Y6 N_7GgK_MqJ2z0ja0ZrpY"
            id="testimonial-1"
            role="tabpanel"
            aria-labelledby="testimonial-1-tab"
          >
            <svg
              class="B75KlS0q3LUZKDWET_cF gS7E_Skoj88f14yvKVTu wUNCdbXmTwWWuj0aoRKU czVm5g0aY7Cg0uQzhCUh"
              viewBox="0 0 24 27"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M14.017 18L14.017 10.609C14.017 4.905 17.748 1.039 23 0L23.995 2.151C21.563 3.068 20 5.789 20 8H24V18H14.017ZM0 18V10.609C0 4.905 3.748 1.038 9 0L9.996 2.151C7.563 3.068 6 5.789 6 8H9.983L9.983 18L0 18Z"
                fill="currentColor"></path>
            </svg>
            <h3
              class="gS7E_Skoj88f14yvKVTu m_mKfjlZ88T0NgHyO9yH u2gUZHq2Ln1UHr5agIwW _k_QFdAt60o_I4_Fgwql bjnT2b_qvjyY8oskmcVZ uZtaXRAMNctX50rLdkzn _5GR6uhgl9vIjB1LEb7b"
            >
              It was a great experience!
            </h3>
            <p
              class="gS7E_Skoj88f14yvKVTu gd36nbySmfQS2ATmd8_d _B19_AV8SB_LtZkEMpyx wUNCdbXmTwWWuj0aoRKU Df2GJckjMJ6cAkEJ869v"
            >
              Flowbite is just awesome. It contains tons of predesigned components and pages
              starting from login screen to complex dashboard. Perfect choice for your next SaaS
              application.
            </p>
            <p
              class="gd36nbySmfQS2ATmd8_d _B19_AV8SB_LtZkEMpyx wUNCdbXmTwWWuj0aoRKU Df2GJckjMJ6cAkEJ869v"
            >
              There is absolutely no doubt in my mind that without Flowbite, I would not have been
              able to make the jump to Ueno, a digital agency I started in 2014. The work I got
              through Flowbite made it possible for me to have something to build on. We now have
              about 45 people on our team, a lot of whom we found and recruited through Flowbite.
            </p>
          </div>
          <div
            class="DXlAhON9HabjpikY0rWQ WPN66xY1_3zfXGTk41Y6 N_7GgK_MqJ2z0ja0ZrpY"
            id="testimonial-2"
            role="tabpanel"
            aria-labelledby="testimonial-2-tab"
          >
            <svg
              class="B75KlS0q3LUZKDWET_cF gS7E_Skoj88f14yvKVTu wUNCdbXmTwWWuj0aoRKU czVm5g0aY7Cg0uQzhCUh"
              viewBox="0 0 24 27"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M14.017 18L14.017 10.609C14.017 4.905 17.748 1.039 23 0L23.995 2.151C21.563 3.068 20 5.789 20 8H24V18H14.017ZM0 18V10.609C0 4.905 3.748 1.038 9 0L9.996 2.151C7.563 3.068 6 5.789 6 8H9.983L9.983 18L0 18Z"
                fill="currentColor"></path>
            </svg>
            <h3
              class="gS7E_Skoj88f14yvKVTu m_mKfjlZ88T0NgHyO9yH u2gUZHq2Ln1UHr5agIwW _k_QFdAt60o_I4_Fgwql bjnT2b_qvjyY8oskmcVZ uZtaXRAMNctX50rLdkzn _5GR6uhgl9vIjB1LEb7b"
            >
              Best product!
            </h3>
            <p
              class="gS7E_Skoj88f14yvKVTu gd36nbySmfQS2ATmd8_d _B19_AV8SB_LtZkEMpyx wUNCdbXmTwWWuj0aoRKU Df2GJckjMJ6cAkEJ869v"
            >
              Flowbite is just awesome. It contains tons of predesigned components and pages
              starting from login screen to complex dashboard. Perfect choice for your next SaaS
              application.
            </p>
            <p
              class="gd36nbySmfQS2ATmd8_d _B19_AV8SB_LtZkEMpyx wUNCdbXmTwWWuj0aoRKU Df2GJckjMJ6cAkEJ869v"
            >
              I would not have been able to make the jump to Ueno, a digital agency I started in
              2014. The work I got through Flowbite made it possible for me to have something to
              build on. We now have about 45 people on our team, a lot of whom we found and
              recruited through Flowbite.
            </p>
          </div>
          <div
            class="DXlAhON9HabjpikY0rWQ WPN66xY1_3zfXGTk41Y6 N_7GgK_MqJ2z0ja0ZrpY"
            id="testimonial-3"
            role="tabpanel"
            aria-labelledby="testimonial-3-tab"
          >
            <svg
              class="B75KlS0q3LUZKDWET_cF gS7E_Skoj88f14yvKVTu wUNCdbXmTwWWuj0aoRKU czVm5g0aY7Cg0uQzhCUh"
              viewBox="0 0 24 27"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M14.017 18L14.017 10.609C14.017 4.905 17.748 1.039 23 0L23.995 2.151C21.563 3.068 20 5.789 20 8H24V18H14.017ZM0 18V10.609C0 4.905 3.748 1.038 9 0L9.996 2.151C7.563 3.068 6 5.789 6 8H9.983L9.983 18L0 18Z"
                fill="currentColor"></path>
            </svg>
            <h3
              class="gS7E_Skoj88f14yvKVTu m_mKfjlZ88T0NgHyO9yH u2gUZHq2Ln1UHr5agIwW _k_QFdAt60o_I4_Fgwql bjnT2b_qvjyY8oskmcVZ uZtaXRAMNctX50rLdkzn _5GR6uhgl9vIjB1LEb7b"
            >
              Great design!
            </h3>
            <p
              class="gS7E_Skoj88f14yvKVTu gd36nbySmfQS2ATmd8_d _B19_AV8SB_LtZkEMpyx wUNCdbXmTwWWuj0aoRKU Df2GJckjMJ6cAkEJ869v"
            >
              Flowbite is just awesome. It contains tons of predesigned components and pages
              starting from login screen to complex dashboard. Perfect choice for your next SaaS
              application.
            </p>
            <p
              class="gd36nbySmfQS2ATmd8_d _B19_AV8SB_LtZkEMpyx wUNCdbXmTwWWuj0aoRKU Df2GJckjMJ6cAkEJ869v"
            >
              There is absolutely no doubt in my mind that without Flowbite, I would not have been
              able to make the jump to Ueno, a digital agency I started in 2014. The work I got
              through Flowbite made it possible for me to have something to build on. We now have
              about 45 people on our team, a lot of whom we found and recruited through Flowbite.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section
  class="ZfgMaxtsBzFu151xg7KP wz_nwThdIJcQW8Jxm5QM wNuxE2XRwfir3lNSV_cp LLklfDv5KODwBpP5ixlG z2kNVEq9LYXEaTHili51 wtDhnP7iN7ZBczI9vrcc"
>
  <div
    class="O6fABJPMfXjR3JaNKMui eQBRejYHR_MmxAuw7a2p lMGGxJGpq_EmDqikc6xq rDy78aqYCdlVbn1AYx_Y NnjUZ5xJwhg9QVw6z6tO c2o4iKAiorg3anKO2ST_"
  >
    <div
      class="j5w_LN24FuYb6WiMGvul N_7GgK_MqJ2z0ja0ZrpY cFkRbkinXXtfowL6T5Ma HAukMdGXrpE_wgyw2WKj tYsJU6wc3liSS2Nz8Gbw NGvAWlJvxH8ROtNd7cVm"
    >
      <div class="C_juA8vEnGH_JWwKbPcz VbdeSPSU7ACZ0NhsPt1Z VXYLmvDyHUbzN3Sb_kwb">
        <h2
          class="vtYP8yh_57D85esuKwGF m_mKfjlZ88T0NgHyO9yH u2gUZHq2Ln1UHr5agIwW uZtaXRAMNctX50rLdkzn kj7kRPaQxZ4LHq2qPr6N _5GR6uhgl9vIjB1LEb7b"
        >
          Pricing built for all businesses.
        </h2>
        <p class="gd36nbySmfQS2ATmd8_d wUNCdbXmTwWWuj0aoRKU Df2GJckjMJ6cAkEJ869v">
          Best for large scale uses and extended redistribution rights.
        </p>

        <div
          class="hfg9kH8_fM5X2MfWq1BA aIiBrC07XJYD_NucRW9v sc5Mw0vDCJOVnhujHsK7 _ptjVDv_PvhpidVAuhwG cjbQhlauUexYX_OhMp1K hhTsv5dUyo5pV8mFMKuI"
        >
          <!-- List -->
          <ul role="list" class="YjFQZPjOXMo3bxrac0IM _5GR6uhgl9vIjB1LEb7b">
            <li class="_Xb_LessUL6KItlVbtOZ UwlqHIBuu_DUYu3jVmVP">
              <svg
                class="NRK9_l6surbY0TWkeLRy a1WftenjstMhEd0ixyBU tT8TOXv5mF6uYm1PZ9i7 _33ps_6bdFYw_QCKwY0b u5TPNsMKS0Cit_GuZSwz"
                fill="currentColor"
                viewBox="0 0 20 20"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  fill-rule="evenodd"
                  d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                  clip-rule="evenodd"></path>
              </svg>
              <span class="_k_QFdAt60o_I4_Fgwql wUNCdbXmTwWWuj0aoRKU Df2GJckjMJ6cAkEJ869v"
                >A/B Testing</span
              >
            </li>

            <li class="_Xb_LessUL6KItlVbtOZ UwlqHIBuu_DUYu3jVmVP">
              <svg
                class="NRK9_l6surbY0TWkeLRy a1WftenjstMhEd0ixyBU tT8TOXv5mF6uYm1PZ9i7 _33ps_6bdFYw_QCKwY0b u5TPNsMKS0Cit_GuZSwz"
                fill="currentColor"
                viewBox="0 0 20 20"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  fill-rule="evenodd"
                  d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                  clip-rule="evenodd"></path>
              </svg>

              <span class="_k_QFdAt60o_I4_Fgwql wUNCdbXmTwWWuj0aoRKU Df2GJckjMJ6cAkEJ869v"
                >24/7 Chat Support</span
              >
            </li>

            <li class="_Xb_LessUL6KItlVbtOZ UwlqHIBuu_DUYu3jVmVP">
              <svg
                class="NRK9_l6surbY0TWkeLRy a1WftenjstMhEd0ixyBU tT8TOXv5mF6uYm1PZ9i7 _33ps_6bdFYw_QCKwY0b u5TPNsMKS0Cit_GuZSwz"
                fill="currentColor"
                viewBox="0 0 20 20"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  fill-rule="evenodd"
                  d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                  clip-rule="evenodd"></path>
              </svg>

              <span class="_k_QFdAt60o_I4_Fgwql wUNCdbXmTwWWuj0aoRKU Df2GJckjMJ6cAkEJ869v"
                >Custom Branding</span
              >
            </li>

            <li class="_Xb_LessUL6KItlVbtOZ UwlqHIBuu_DUYu3jVmVP">
              <svg
                class="NRK9_l6surbY0TWkeLRy a1WftenjstMhEd0ixyBU tT8TOXv5mF6uYm1PZ9i7 _33ps_6bdFYw_QCKwY0b u5TPNsMKS0Cit_GuZSwz"
                fill="currentColor"
                viewBox="0 0 20 20"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  fill-rule="evenodd"
                  d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                  clip-rule="evenodd"></path>
              </svg>

              <span class="_k_QFdAt60o_I4_Fgwql wUNCdbXmTwWWuj0aoRKU Df2GJckjMJ6cAkEJ869v"
                >Creative Assistant</span
              >
            </li>

            <li class="_Xb_LessUL6KItlVbtOZ UwlqHIBuu_DUYu3jVmVP">
              <svg
                class="NRK9_l6surbY0TWkeLRy a1WftenjstMhEd0ixyBU tT8TOXv5mF6uYm1PZ9i7 _33ps_6bdFYw_QCKwY0b u5TPNsMKS0Cit_GuZSwz"
                fill="currentColor"
                viewBox="0 0 20 20"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  fill-rule="evenodd"
                  d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                  clip-rule="evenodd"></path>
              </svg>

              <span class="_k_QFdAt60o_I4_Fgwql wUNCdbXmTwWWuj0aoRKU Df2GJckjMJ6cAkEJ869v"
                >Website Builder</span
              >
            </li>
          </ul>

          <!-- List -->
          <ul
            role="list"
            class="DXlAhON9HabjpikY0rWQ YjFQZPjOXMo3bxrac0IM _5GR6uhgl9vIjB1LEb7b LiVf0wl2Sw6G1cph1dO6"
          >
            <li class="_Xb_LessUL6KItlVbtOZ UwlqHIBuu_DUYu3jVmVP">
              <svg
                class="NRK9_l6surbY0TWkeLRy a1WftenjstMhEd0ixyBU tT8TOXv5mF6uYm1PZ9i7 _33ps_6bdFYw_QCKwY0b u5TPNsMKS0Cit_GuZSwz"
                fill="currentColor"
                viewBox="0 0 20 20"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  fill-rule="evenodd"
                  d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                  clip-rule="evenodd"></path>
              </svg>

              <span class="_k_QFdAt60o_I4_Fgwql wUNCdbXmTwWWuj0aoRKU Df2GJckjMJ6cAkEJ869v"
                >Customer Builder</span
              >
            </li>

            <li class="_Xb_LessUL6KItlVbtOZ UwlqHIBuu_DUYu3jVmVP">
              <svg
                class="NRK9_l6surbY0TWkeLRy a1WftenjstMhEd0ixyBU tT8TOXv5mF6uYm1PZ9i7 _33ps_6bdFYw_QCKwY0b u5TPNsMKS0Cit_GuZSwz"
                fill="currentColor"
                viewBox="0 0 20 20"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  fill-rule="evenodd"
                  d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                  clip-rule="evenodd"></path>
              </svg>

              <span class="_k_QFdAt60o_I4_Fgwql wUNCdbXmTwWWuj0aoRKU Df2GJckjMJ6cAkEJ869v"
                >Marketing CRM</span
              >
            </li>

            <li class="_Xb_LessUL6KItlVbtOZ UwlqHIBuu_DUYu3jVmVP">
              <svg
                class="NRK9_l6surbY0TWkeLRy a1WftenjstMhEd0ixyBU tT8TOXv5mF6uYm1PZ9i7 _33ps_6bdFYw_QCKwY0b u5TPNsMKS0Cit_GuZSwz"
                fill="currentColor"
                viewBox="0 0 20 20"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  fill-rule="evenodd"
                  d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                  clip-rule="evenodd"></path>
              </svg>

              <span class="_k_QFdAt60o_I4_Fgwql wUNCdbXmTwWWuj0aoRKU Df2GJckjMJ6cAkEJ869v"
                >Custom Templates</span
              >
            </li>

            <li class="_Xb_LessUL6KItlVbtOZ UwlqHIBuu_DUYu3jVmVP">
              <svg
                class="NRK9_l6surbY0TWkeLRy a1WftenjstMhEd0ixyBU tT8TOXv5mF6uYm1PZ9i7 _33ps_6bdFYw_QCKwY0b u5TPNsMKS0Cit_GuZSwz"
                fill="currentColor"
                viewBox="0 0 20 20"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  fill-rule="evenodd"
                  d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                  clip-rule="evenodd"></path>
              </svg>

              <span class="_k_QFdAt60o_I4_Fgwql wUNCdbXmTwWWuj0aoRKU Df2GJckjMJ6cAkEJ869v"
                >Creative Assistant</span
              >
            </li>

            <li class="_Xb_LessUL6KItlVbtOZ UwlqHIBuu_DUYu3jVmVP">
              <svg
                class="NRK9_l6surbY0TWkeLRy a1WftenjstMhEd0ixyBU tT8TOXv5mF6uYm1PZ9i7 _33ps_6bdFYw_QCKwY0b u5TPNsMKS0Cit_GuZSwz"
                fill="currentColor"
                viewBox="0 0 20 20"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  fill-rule="evenodd"
                  d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                  clip-rule="evenodd"></path>
              </svg>

              <span class="_k_QFdAt60o_I4_Fgwql wUNCdbXmTwWWuj0aoRKU Df2GJckjMJ6cAkEJ869v"
                >Multivariate Testing</span
              >
            </li>
          </ul>

          <!-- List -->
          <ul
            role="list"
            class="DXlAhON9HabjpikY0rWQ YjFQZPjOXMo3bxrac0IM _5GR6uhgl9vIjB1LEb7b BjuU__SnxVcZ_maXKnQv"
          >
            <li class="_Xb_LessUL6KItlVbtOZ UwlqHIBuu_DUYu3jVmVP">
              <svg
                class="NRK9_l6surbY0TWkeLRy a1WftenjstMhEd0ixyBU tT8TOXv5mF6uYm1PZ9i7 _33ps_6bdFYw_QCKwY0b u5TPNsMKS0Cit_GuZSwz"
                fill="currentColor"
                viewBox="0 0 20 20"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  fill-rule="evenodd"
                  d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                  clip-rule="evenodd"></path>
              </svg>

              <span class="_k_QFdAt60o_I4_Fgwql wUNCdbXmTwWWuj0aoRKU Df2GJckjMJ6cAkEJ869v"
                >Advanced Tools</span
              >
            </li>

            <li class="_Xb_LessUL6KItlVbtOZ UwlqHIBuu_DUYu3jVmVP">
              <svg
                class="NRK9_l6surbY0TWkeLRy a1WftenjstMhEd0ixyBU tT8TOXv5mF6uYm1PZ9i7 _33ps_6bdFYw_QCKwY0b u5TPNsMKS0Cit_GuZSwz"
                fill="currentColor"
                viewBox="0 0 20 20"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  fill-rule="evenodd"
                  d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                  clip-rule="evenodd"></path>
              </svg>

              <span class="_k_QFdAt60o_I4_Fgwql wUNCdbXmTwWWuj0aoRKU Df2GJckjMJ6cAkEJ869v"
                >Multivariate Testing</span
              >
            </li>

            <li class="_Xb_LessUL6KItlVbtOZ UwlqHIBuu_DUYu3jVmVP">
              <svg
                class="NRK9_l6surbY0TWkeLRy a1WftenjstMhEd0ixyBU tT8TOXv5mF6uYm1PZ9i7 _33ps_6bdFYw_QCKwY0b u5TPNsMKS0Cit_GuZSwz"
                fill="currentColor"
                viewBox="0 0 20 20"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  fill-rule="evenodd"
                  d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                  clip-rule="evenodd"></path>
              </svg>

              <span class="_k_QFdAt60o_I4_Fgwql wUNCdbXmTwWWuj0aoRKU Df2GJckjMJ6cAkEJ869v"
                >Reporting</span
              >
            </li>

            <li class="_Xb_LessUL6KItlVbtOZ UwlqHIBuu_DUYu3jVmVP">
              <svg
                class="NRK9_l6surbY0TWkeLRy a1WftenjstMhEd0ixyBU tT8TOXv5mF6uYm1PZ9i7 _33ps_6bdFYw_QCKwY0b u5TPNsMKS0Cit_GuZSwz"
                fill="currentColor"
                viewBox="0 0 20 20"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  fill-rule="evenodd"
                  d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                  clip-rule="evenodd"></path>
              </svg>

              <span class="_k_QFdAt60o_I4_Fgwql wUNCdbXmTwWWuj0aoRKU Df2GJckjMJ6cAkEJ869v"
                >Custom Templates</span
              >
            </li>

            <li class="_Xb_LessUL6KItlVbtOZ UwlqHIBuu_DUYu3jVmVP">
              <svg
                class="NRK9_l6surbY0TWkeLRy a1WftenjstMhEd0ixyBU tT8TOXv5mF6uYm1PZ9i7 _33ps_6bdFYw_QCKwY0b u5TPNsMKS0Cit_GuZSwz"
                fill="currentColor"
                viewBox="0 0 20 20"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  fill-rule="evenodd"
                  d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                  clip-rule="evenodd"></path>
              </svg>

              <span class="_k_QFdAt60o_I4_Fgwql wUNCdbXmTwWWuj0aoRKU Df2GJckjMJ6cAkEJ869v"
                >Dynamic Content</span
              >
            </li>
          </ul>
        </div>
      </div>

      <div
        class="_Xb_LessUL6KItlVbtOZ VbdeSPSU7ACZ0NhsPt1Z d9KaSaBFKzmTOUJHRwyE LLklfDv5KODwBpP5ixlG VXYLmvDyHUbzN3Sb_kwb NGvAWlJvxH8ROtNd7cVm"
      >
        <div class="HUMuJqyL8DSyEOIMm8QW _vYX4e3iy_9sP8mOC6hH">
          <div
            class="PRO35HsDCQ00DBQlzZub _j0fUTblFhvw9NbQAdvC uZtaXRAMNctX50rLdkzn _5GR6uhgl9vIjB1LEb7b"
          >
            $99
          </div>
          <div
            class="l7V51rjvj6mC0O4FhkRh IcxvxSjEPCDi7nF2xYDi wUNCdbXmTwWWuj0aoRKU text-light Df2GJckjMJ6cAkEJ869v"
          >
            per month
          </div>
          <a
            href="#"
            class="_Xb_LessUL6KItlVbtOZ pV5QHq9WvMsCNRvC8qG5 mgJAKK9vWtU1PSpDOSy7 P0sEMSGqLpokPnWnm0_G j8PPdjt2Dc923qK0hEwI _Xtntc2N2_AY67dJhuUG focus:ring-bue-200 _rCvSXeCKULutG6NOkCY N_7GgK_MqJ2z0ja0ZrpY sNhGMfXh5qpOlS95mw8M l60nmbBOLcqmCLlExDag MxkCh1Od7CZVGVGtpahb d9KaSaBFKzmTOUJHRwyE T0I_0kOq_tJmZAdv5_bO _Dsh402wwa0qrgkTUss2"
            >Buy now</a
          >
          <a
            href="#"
            class="_Xb_LessUL6KItlVbtOZ WhuAYjbSprszuhtqgVk7 pV5QHq9WvMsCNRvC8qG5 sc5Mw0vDCJOVnhujHsK7 gY9luLGG3hnSAHgMh0Aq _rCvSXeCKULutG6NOkCY wUNCdbXmTwWWuj0aoRKU wzzgYe84MoyXMBIQkKeP Df2GJckjMJ6cAkEJ869v ivghTTeClSk0rGxoKGhG"
          >
            View team pricing
            <svg
              class="a1WftenjstMhEd0ixyBU tT8TOXv5mF6uYm1PZ9i7 _vKxEJkC2TiRgg4Z3zFV"
              fill="currentColor"
              viewBox="0 0 20 20"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                fill-rule="evenodd"
                d="M12.293 5.293a1 1 0 011.414 0l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-2.293-2.293a1 1 0 010-1.414z"
                clip-rule="evenodd"></path>
            </svg>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="j5w_LN24FuYb6WiMGvul _Xns0Wjl3BLlIPtz2edB">
  <div
    class="O6fABJPMfXjR3JaNKMui eQBRejYHR_MmxAuw7a2p lMGGxJGpq_EmDqikc6xq rDy78aqYCdlVbn1AYx_Y NnjUZ5xJwhg9QVw6z6tO c2o4iKAiorg3anKO2ST_"
  >
    <h2
      class="taisKvlFToKAuWpUMGKi _1RpOM3YfJo_R6daPVa3 _j0fUTblFhvw9NbQAdvC bjnT2b_qvjyY8oskmcVZ d9KaSaBFKzmTOUJHRwyE uZtaXRAMNctX50rLdkzn QVIVfWckzgUzVhClDzla XWyEHWWk0NqNbS2WDykH _5GR6uhgl9vIjB1LEb7b"
    >
      Frequently asked questions
    </h2>

    <div class="WT6tcJyvB5sHpRAEFxOZ rDy78aqYCdlVbn1AYx_Y">
      <div
        id="accordion-flush"
        data-accordion="collapse"
        data-active-classes="bg-white dark:bg-gray-900 text-gray-900 dark:text-white"
        data-inactive-classes="text-gray-500 dark:text-gray-400"
      >
        <h2 id="accordion-flush-heading-1">
          <button
            type="button"
            class="_Xb_LessUL6KItlVbtOZ WhuAYjbSprszuhtqgVk7 I48kjgygTcKBfy1Ned2k _vYX4e3iy_9sP8mOC6hH ZWkbF0RvLOA2ul923BEi _rCvSXeCKULutG6NOkCY guEgHqpKespbfkdf4vIC uZtaXRAMNctX50rLdkzn j5w_LN24FuYb6WiMGvul wz_nwThdIJcQW8Jxm5QM tw8OcvA4go4h73YpX7X8 wtDhnP7iN7ZBczI9vrcc _Xns0Wjl3BLlIPtz2edB _5GR6uhgl9vIjB1LEb7b"
            data-accordion-target="#accordion-flush-body-1"
            aria-expanded="true"
            aria-controls="accordion-flush-body-1"
          >
            <span>Can I use Flowbite in open-source projects?</span>
            <svg
              data-accordion-icon=""
              class="__fODz6BPjHZiJAunDUW Hic0XmeJRc9LnBlsBw1Z IAOHfG5jG_f5yOWxInOR COLXryk4dLcCS3dLmD6b"
              fill="currentColor"
              viewBox="0 0 20 20"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                fill-rule="evenodd"
                d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z"
                clip-rule="evenodd"></path>
            </svg>
          </button>
        </h2>
        <div id="accordion-flush-body-1" class="" aria-labelledby="accordion-flush-heading-1">
          <div
            class="ZWkbF0RvLOA2ul923BEi wz_nwThdIJcQW8Jxm5QM tw8OcvA4go4h73YpX7X8 wtDhnP7iN7ZBczI9vrcc"
          >
            <p class="a2y87NW2EtN3uAJReryb wUNCdbXmTwWWuj0aoRKU Df2GJckjMJ6cAkEJ869v">
              Flowbite is an open-source library of interactive components built on top of Tailwind
              CSS including buttons, dropdowns, modals, navbars, and more.
            </p>
            <p
              class="p0VAQHK07IsfUfdiKKhJ uitLxBdIFIR23y_DRJAY wUNCdbXmTwWWuj0aoRKU Df2GJckjMJ6cAkEJ869v"
            >
              Check out this guide to learn how to <a
                href="#"
                class="urabavyCxQuNta7e9flI Ob9LHhk5_ZZLlGX_E0cX gY9luLGG3hnSAHgMh0Aq"
                >get started</a
              > and start developing websites even faster with components on top of Tailwind CSS.
            </p>
          </div>
        </div>
        <h2 id="accordion-flush-heading-2">
          <button
            type="button"
            class="_Xb_LessUL6KItlVbtOZ WhuAYjbSprszuhtqgVk7 I48kjgygTcKBfy1Ned2k _vYX4e3iy_9sP8mOC6hH ZWkbF0RvLOA2ul923BEi _rCvSXeCKULutG6NOkCY guEgHqpKespbfkdf4vIC wUNCdbXmTwWWuj0aoRKU wz_nwThdIJcQW8Jxm5QM tw8OcvA4go4h73YpX7X8 wtDhnP7iN7ZBczI9vrcc Df2GJckjMJ6cAkEJ869v"
            data-accordion-target="#accordion-flush-body-2"
            aria-expanded="false"
            aria-controls="accordion-flush-body-2"
          >
            <span>Is there a Figma file available?</span>
            <svg
              data-accordion-icon=""
              class="__fODz6BPjHZiJAunDUW Hic0XmeJRc9LnBlsBw1Z COLXryk4dLcCS3dLmD6b"
              fill="currentColor"
              viewBox="0 0 20 20"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                fill-rule="evenodd"
                d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z"
                clip-rule="evenodd"></path>
            </svg>
          </button>
        </h2>
        <div
          id="accordion-flush-body-2"
          class="DXlAhON9HabjpikY0rWQ"
          aria-labelledby="accordion-flush-heading-2"
        >
          <div
            class="ZWkbF0RvLOA2ul923BEi wz_nwThdIJcQW8Jxm5QM tw8OcvA4go4h73YpX7X8 wtDhnP7iN7ZBczI9vrcc"
          >
            <p class="a2y87NW2EtN3uAJReryb wUNCdbXmTwWWuj0aoRKU Df2GJckjMJ6cAkEJ869v">
              Flowbite is first conceptualized and designed using the Figma software so everything
              you see in the library has a design equivalent in our Figma file.
            </p>
            <p class="wUNCdbXmTwWWuj0aoRKU Df2GJckjMJ6cAkEJ869v">
              Check out the <a
                href="#"
                class="urabavyCxQuNta7e9flI Ob9LHhk5_ZZLlGX_E0cX gY9luLGG3hnSAHgMh0Aq"
                >Figma design system</a
              > based on the utility classes from Tailwind CSS and components from Flowbite.
            </p>
          </div>
        </div>
        <h2 id="accordion-flush-heading-3">
          <button
            type="button"
            class="_Xb_LessUL6KItlVbtOZ WhuAYjbSprszuhtqgVk7 I48kjgygTcKBfy1Ned2k _vYX4e3iy_9sP8mOC6hH ZWkbF0RvLOA2ul923BEi _rCvSXeCKULutG6NOkCY guEgHqpKespbfkdf4vIC wUNCdbXmTwWWuj0aoRKU wz_nwThdIJcQW8Jxm5QM tw8OcvA4go4h73YpX7X8 wtDhnP7iN7ZBczI9vrcc Df2GJckjMJ6cAkEJ869v"
            data-accordion-target="#accordion-flush-body-3"
            aria-expanded="false"
            aria-controls="accordion-flush-body-3"
          >
            <span>What are the differences between Flowbite and Tailwind UI?</span>
            <svg
              data-accordion-icon=""
              class="__fODz6BPjHZiJAunDUW Hic0XmeJRc9LnBlsBw1Z COLXryk4dLcCS3dLmD6b"
              fill="currentColor"
              viewBox="0 0 20 20"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                fill-rule="evenodd"
                d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z"
                clip-rule="evenodd"></path>
            </svg>
          </button>
        </h2>
        <div
          id="accordion-flush-body-3"
          class="DXlAhON9HabjpikY0rWQ"
          aria-labelledby="accordion-flush-heading-3"
        >
          <div
            class="ZWkbF0RvLOA2ul923BEi wz_nwThdIJcQW8Jxm5QM tw8OcvA4go4h73YpX7X8 wtDhnP7iN7ZBczI9vrcc"
          >
            <p class="a2y87NW2EtN3uAJReryb wUNCdbXmTwWWuj0aoRKU Df2GJckjMJ6cAkEJ869v">
              The main difference is that the core components from Flowbite are open source under
              the MIT license, whereas Tailwind UI is a paid product. Another difference is that
              Flowbite relies on smaller and standalone components, whereas Tailwind UI offers
              sections of pages.
            </p>
            <p class="a2y87NW2EtN3uAJReryb wUNCdbXmTwWWuj0aoRKU Df2GJckjMJ6cAkEJ869v">
              However, we actually recommend using both Flowbite, Flowbite Pro, and even Tailwind UI
              as there is no technical reason stopping you from using the best of two worlds.
            </p>
            <p class="a2y87NW2EtN3uAJReryb wUNCdbXmTwWWuj0aoRKU Df2GJckjMJ6cAkEJ869v">
              Learn more about these technologies:
            </p>
            <ul
              class="jgfvi_ASWkxS8VmDPkTR wUNCdbXmTwWWuj0aoRKU rqe_LpvHNBDFqpzLHfJr Df2GJckjMJ6cAkEJ869v"
            >
              <li>
                <a href="#" class="urabavyCxQuNta7e9flI Ob9LHhk5_ZZLlGX_E0cX gY9luLGG3hnSAHgMh0Aq"
                  >Flowbite Pro</a>
              </li>
              <li>
                <a href="#" class="urabavyCxQuNta7e9flI Ob9LHhk5_ZZLlGX_E0cX gY9luLGG3hnSAHgMh0Aq"
                  >Tailwind UI</a>
              </li>
            </ul>
          </div>
        </div>
        <h2 id="accordion-flush-heading-4">
          <button
            type="button"
            class="_Xb_LessUL6KItlVbtOZ WhuAYjbSprszuhtqgVk7 I48kjgygTcKBfy1Ned2k _vYX4e3iy_9sP8mOC6hH ZWkbF0RvLOA2ul923BEi _rCvSXeCKULutG6NOkCY guEgHqpKespbfkdf4vIC wUNCdbXmTwWWuj0aoRKU wz_nwThdIJcQW8Jxm5QM tw8OcvA4go4h73YpX7X8 wtDhnP7iN7ZBczI9vrcc Df2GJckjMJ6cAkEJ869v"
            data-accordion-target="#accordion-flush-body-4"
            aria-expanded="false"
            aria-controls="accordion-flush-body-4"
          >
            <span>What about browser support?</span>
            <svg
              data-accordion-icon=""
              class="__fODz6BPjHZiJAunDUW Hic0XmeJRc9LnBlsBw1Z COLXryk4dLcCS3dLmD6b"
              fill="currentColor"
              viewBox="0 0 20 20"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                fill-rule="evenodd"
                d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z"
                clip-rule="evenodd"></path>
            </svg>
          </button>
        </h2>
        <div
          id="accordion-flush-body-4"
          class="DXlAhON9HabjpikY0rWQ"
          aria-labelledby="accordion-flush-heading-4"
        >
          <div
            class="ZWkbF0RvLOA2ul923BEi wz_nwThdIJcQW8Jxm5QM tw8OcvA4go4h73YpX7X8 wtDhnP7iN7ZBczI9vrcc"
          >
            <p class="a2y87NW2EtN3uAJReryb wUNCdbXmTwWWuj0aoRKU Df2GJckjMJ6cAkEJ869v">
              The main difference is that the core components from Flowbite are open source under
              the MIT license, whereas Tailwind UI is a paid product. Another difference is that
              Flowbite relies on smaller and standalone components, whereas Tailwind UI offers
              sections of pages.
            </p>
            <p class="a2y87NW2EtN3uAJReryb wUNCdbXmTwWWuj0aoRKU Df2GJckjMJ6cAkEJ869v">
              However, we actually recommend using both Flowbite, Flowbite Pro, and even Tailwind UI
              as there is no technical reason stopping you from using the best of two worlds.
            </p>
            <p class="a2y87NW2EtN3uAJReryb wUNCdbXmTwWWuj0aoRKU Df2GJckjMJ6cAkEJ869v">
              Learn more about these technologies:
            </p>
            <ul
              class="jgfvi_ASWkxS8VmDPkTR wUNCdbXmTwWWuj0aoRKU rqe_LpvHNBDFqpzLHfJr Df2GJckjMJ6cAkEJ869v"
            >
              <li>
                <a href="#" class="urabavyCxQuNta7e9flI Ob9LHhk5_ZZLlGX_E0cX gY9luLGG3hnSAHgMh0Aq"
                  >Flowbite Pro</a>
              </li>
              <li>
                <a href="#" class="urabavyCxQuNta7e9flI Ob9LHhk5_ZZLlGX_E0cX gY9luLGG3hnSAHgMh0Aq"
                  >Tailwind UI</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section
  class="ZfgMaxtsBzFu151xg7KP wz_nwThdIJcQW8Jxm5QM wNuxE2XRwfir3lNSV_cp LLklfDv5KODwBpP5ixlG z2kNVEq9LYXEaTHili51 wtDhnP7iN7ZBczI9vrcc"
>
  <div
    class="O6fABJPMfXjR3JaNKMui eQBRejYHR_MmxAuw7a2p lMGGxJGpq_EmDqikc6xq rDy78aqYCdlVbn1AYx_Y NnjUZ5xJwhg9QVw6z6tO c2o4iKAiorg3anKO2ST_"
  >
    <div class="EddwxAV5jzpk8WhiqGQX rDy78aqYCdlVbn1AYx_Y d9KaSaBFKzmTOUJHRwyE">
      <h2
        class="IcxvxSjEPCDi7nF2xYDi _1RpOM3YfJo_R6daPVa3 _j0fUTblFhvw9NbQAdvC bjnT2b_qvjyY8oskmcVZ uZtaXRAMNctX50rLdkzn XWyEHWWk0NqNbS2WDykH _5GR6uhgl9vIjB1LEb7b"
      >
        Get started with Flowbite today
      </h2>
      <p
        class="taisKvlFToKAuWpUMGKi wUNCdbXmTwWWuj0aoRKU hjeWhoIEeGGzZnKQ9NDp Df2GJckjMJ6cAkEJ869v"
      >
        Connecting with your audience has never been easier with Flowbite straightforward email
        marketing and automation tools.
      </p>
      <form action="#" class="DV1abDTkS2dgxIBViUjh rDy78aqYCdlVbn1AYx_Y">
        <div class="JLJQRDg9XGWZSMQSTHjk WhuAYjbSprszuhtqgVk7 gS7E_Skoj88f14yvKVTu">
          <div
            class="c_PkEF0I2lwRWqhjuhLN _vYX4e3iy_9sP8mOC6hH _hvyBeXYc1FPGy0YmCOZ IcxvxSjEPCDi7nF2xYDi eiAhqS1bImHNBRa_ecAW"
          >
            <label
              for="member_email"
              class="DXlAhON9HabjpikY0rWQ a2y87NW2EtN3uAJReryb sNhGMfXh5qpOlS95mw8M _rCvSXeCKULutG6NOkCY uZtaXRAMNctX50rLdkzn _IDndSMTZg_wtmHK0OF2"
              >Email address</label
            >
            <div
              class="HI5IirNQN9pY0ckoTi0H XiwxMAxnQJrDn0N_OxS3 sDMuoVgAl83ycTYO9Z_B _Xb_LessUL6KItlVbtOZ WhuAYjbSprszuhtqgVk7 SgVGGGauY268teHB5hlM _CMueHfZReuiiLYSvywP"
            >
              <svg
                class="a1WftenjstMhEd0ixyBU tT8TOXv5mF6uYm1PZ9i7 wUNCdbXmTwWWuj0aoRKU Df2GJckjMJ6cAkEJ869v"
                fill="currentColor"
                viewBox="0 0 20 20"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path d="M2.003 5.884L10 9.882l7.997-3.998A2 2 0 0016 4H4a2 2 0 00-1.997 1.884z"
                ></path>
                <path d="M18 8.118l-8 4-8-4V14a2 2 0 002 2h12a2 2 0 002-2V8.118z"></path>
              </svg>
            </div>
            <input
              class="v1DOVLwZv5vE5pLd2zoq _vYX4e3iy_9sP8mOC6hH OirsFc6WCUBUcSWDIpSn eQdn85kLyeX1TnRYDtJ4 sNhGMfXh5qpOlS95mw8M uZtaXRAMNctX50rLdkzn cPDkaXEB7uAZEDCL6Z16 rm4C7BIv_WgmAADv1313 N_7GgK_MqJ2z0ja0ZrpY j5w_LN24FuYb6WiMGvul EkCkIvsvtBZpyRmbx2xz I3gyLmaw7epqsD6sV1h3 NGvAWlJvxH8ROtNd7cVm BLC17X9ew6_l9orKozkG tBa7elwbLSf2UUEccOsI _5GR6uhgl9vIjB1LEb7b UU5EWCt68usBQ7AIh7wQ _kNRqr_S5vVrNJnIMa2D"
              placeholder="Enter your email"
              type="email"
              name="member[email]"
              id="member_email"
              required=""
            />
          </div>
          <div>
            <input
              type="submit"
              value="Try for 30 days"
              class="_vYX4e3iy_9sP8mOC6hH IgLzZ7iLZYV_GKxZCbma l60nmbBOLcqmCLlExDag aq4zvEsdUeW8uVv9oGDZ sNhGMfXh5qpOlS95mw8M _rCvSXeCKULutG6NOkCY d9KaSaBFKzmTOUJHRwyE mgJAKK9vWtU1PSpDOSy7 N_7GgK_MqJ2z0ja0ZrpY wgwz88CSDlJ_zznppt8E P0sEMSGqLpokPnWnm0_G j8PPdjt2Dc923qK0hEwI _Xtntc2N2_AY67dJhuUG _acJDSUGqxRwM7YKVwYR T0I_0kOq_tJmZAdv5_bO _Dsh402wwa0qrgkTUss2 _kgZpkjnvcrdoNB9M68n"
              name="member_submit"
              id="member_submit"
            />
          </div>
        </div>
        <div
          class="sNhGMfXh5qpOlS95mw8M guEgHqpKespbfkdf4vIC wUNCdbXmTwWWuj0aoRKU _IDndSMTZg_wtmHK0OF2"
        >
          Instant signup. No credit card required.
        </div>
      </form>
    </div>
  </div>
</section>
