---
// Define requireAuthRedirect
const requireAuthRedirect = undefined;
// Make sure to check above value before redirecting
import { checkAuth } from "../lib/auth";
// Handle OAuth callback if code is present
const { currentUser, session, supabase } = await checkAuth(Astro.cookies);
// Handle auth redirect first
if (requireAuthRedirect && (!session || !currentUser)) {
  return Astro.redirect(requireAuthRedirect);
}

import { globalCompanyData } from "../pages/api/global-company-data";
const {
  companyName,
  companySlogan,
  year,
  companyAddress,
  companyPhone,
  companyEmail,
  companyWebsite,
  companyLogo,
  companyLogoDark,
  companyLogoLight,
} = globalCompanyData();

import { globalClasses } from "../pages/api/global-classes";
const { globalInputClasses, globalPrimaryTextClasses, globalSecondaryTextClasses } =
  globalClasses();

import App from "../components/common/App.astro";
import BoxIcon from "../components/common/BoxIcon.astro";
//Para cambiar idioma de textos
// const { currentLocale } = Astro;
// const i18n = getI18N({ currentLocale });
---

<App title="404" description="404">
  <div class="mb-12 flex content-center items-center justify-center">
    <h1 class="text-2xl font-bold text-gray-900 dark:text-white">404</h1>
  </div>
  <div class="flex content-center items-center justify-center">
    <a
      href="/"
      class="inline-flex items-center rounded-full bg-gray-500 px-3 py-2 text-sm font-medium text-white transition-colors hover:bg-gray-600"
    >
      <BoxIcon name="arrow-back" />
    </a>
  </div>
</App>
