---
import { getI18N } from "@/i18n";
import { getLangFromUrl, useTranslatedPath } from "@/i18n/utils";
import Base from "@/layout/Base.astro";
import BoxIcon from "../components/common/BoxIcon.astro";
import SectionContainer from "../components/common/SectionContainer.astro";

//para cambiar entre idiomas y traducir rutas
const lang = getLangFromUrl(Astro.url);
const translatePath = useTranslatedPath(lang);

//Para cambiar idioma de textos
const { currentLocale } = Astro;
const i18n = getI18N({ currentLocale });
---

<Base title={i18n.ERROR_404.TITLE} description={i18n.ERROR_404.DESCRIPTION}>
  <SectionContainer class="px-4 dark:bg-hub-background-dark">
    <div class="flex content-center items-center justify-center">
      <BoxIcon
        name="arrow-back"
        class="size-5 transition duration-300 ease-in-out group-hover:-rotate-180"
      />
      {i18n.ERROR_404.BACK_HOMEPAGE_BTN}
    </div>
  </SectionContainer>
</Base>
