---
import { globalClasses } from "../pages/api/global-classes";
const { globalInputClasses, globalPrimaryTextClasses, globalSecondaryTextClasses } =
  globalClasses();
---

<html>
  <head>
    <title>Test</title>
  </head>
  <body>
    <h1>Test</h1>
  </body>
</html>
