---
export const partial = true;
import Button from "../../components/common/Button.astro";
import { globalClasses } from "../api/global/global-classes";

const globalInputClasses = Astro.request.headers.get("x-global-input-classes") || "label";
const { globalFormClasses } = globalClasses();

export interface Props {
  globalInputClasses?: string;
}
---

<form id="forgot-password-form" class={`${globalFormClasses} w-full text-left`}>
  <div class="grid grid-cols-1 gap-4 lg:grid-cols-1">
    <!-- Email -->
    <div>
      <label
        for="reset-email"
        class="mb-1 block text-sm font-medium text-gray-700 dark:text-gray-300"
      >
        Email <span class="text-red-500">*</span>
      </label>
      <input
        type="email"
        name="email"
        id="reset-email"
        placeholder="Enter your email address"
        required
        class={`${globalInputClasses} `}
      />
    </div>
  </div>
  <div class="flex gap-3">
    <Button type="submit" id="send-reset-link" variant="secondary" size="sm" class="flex-1">
      Send Reset Link
    </Button>
  </div>
</form>
