---
export const partial = true;
import Button from "../../components/common/Button.astro";
const globalInputClasses = process.env.GLOBAL_INPUT_CLASSES;
---

<form id="forgot-password-form" class="mt-6 flex w-full flex-col gap-2">
  <div class="grid grid-cols-2 gap-3">
    <!-- Email -->
    <div>
      <label
        for="reset-email"
        class="mb-1 block text-sm font-medium text-gray-700 dark:text-gray-300"
      >
        Email <span class="text-red-500">*</span>
      </label>
      <input
        type="email"
        name="reset-email"
        id="reset-email"
        placeholder="Enter your email address"
        required
        class=`${globalInputClasses}`
      />
    </div>
  </div>
  <div class="flex gap-3">
    <Button type="button" id="cancel-forgot" variant="outline" size="sm" class="flex-1">
      Cancel
    </Button>
    <Button type="submit" id="send-reset-link" variant="primary" size="sm" class="flex-1">
      Send Reset Link
    </Button>
  </div>
</form>
