<div class="page-section">
  <div class="content-section">
    COMMONWEALTH OF MASSACHUSETTS STATE BUILDING CODE 780 CMR CHAPTER 9, 10th Edition FIRE
    PROTECTION SYSTEMS NARRATIVE 780 CMR – 901.2.1 Estimated Commencement of Construction: Building
    Use Groups: Total Square Footage of Building: Building Height Number of Floors Below Grade:
    Construction Type: Hazardous Material Usage and Storage: None in excess of exempt amounts
    allowed by 780 CMR §307.1 High-Piled Storage (over 12 ft.) of Commodities: Site Access
    Arrangement for Emergency Response Vehicles: Site access for fire / rescue vehicles is via
    ____________ An exterior fire alarm beacon shall be located such that it is visible from
    ______________ Special Suppression & Detection Systems:
  </div>
</div>



<div class="page-section">
  <h2>As required by 780 CMR §901.2.1, this narrative report is a written description of the proposed fire protection system features to be installed as part of the 183 Congress Avenue located in Chelsea, Massachusetts.</h2>
  <div class="content-section">
As required by 780 CMR §901.2.1, this narrative report is a written description of the proposed fire protection system features to be installed as part of the 183 Congress Avenue located in Chelsea, Massachusetts.

901.2.1 (1-a-i) – BASIS (METHODOLOGY) OF DESIGN

Section 1 - Building Description

<ol>
  <li>
    Estimated Commencement of Construction: {{COMMENCEMENT_OF_CONSTRUCTION}}
  </li>
  <li>
    Building Use Groups: {{BUILDING}}
  </li>
  <li>
    Total Square Footage of Building: {{SQ_FT}}
  </li>
  <li>
    Building Height {{BUILDING_HEIGHT}}
  </li>
  </ol>
  <li>
    Number of Floors Below Grade:{{FLOORS_BELOW_GRADE}}
  </li>
  <li>
    Construction Type: {{CONSTRUCTION_TYPE}}
  </li>
  <li>
    Hazardous Material Usage and Storage: {{HAZARDOUS_MATERIALS}}
  </li>
  <li>
    High-Piled Storage (over 12 ft.) of Commodities: {{HPS_COMMODITIES}}
  </li>
  <li>
    Site Access Arrangement for Emergency Response Vehicles:
    <ul>
      <li>
        Site access for fire / rescue vehicles is via {{SITE_ACCESS}}
      </li>    
      <li>
        An exterior fire alarm beacon shall be located such that it is visible from {{EXTERIOR_BEACON}}
      </li>
    </ul>
  </li>
  <li>
    Special Suppression & Detection Systems: {{SUPPRESSION_DETECTION_SYSTEMS}}
  </li>
</ol>
</div>
</div>
<



Section 2 - Applicable (to Scoping, Design & Installation of Fire Protection Systems) Laws, Regulations & Standards

Massachusetts State General Laws (MGL), Chapter 148 MGL §148, sections as applicable.

780 CMR – Massachusetts State Building Code (780 CMR)10th edition (IBC-2021) 

Chapter 9 “Fire Protection Systems”	

	§906 “Portable Fire Extinguishers”
	§907 “Fire Alarm & Detection Systems”
	§908 “Emergency Alarm Systems”
	§912 “Fire Department Connections”
	§914 “Emergency Responder Safety Features”
	§916 “Emergency Responder Radio Coverage”

527 CMR Massachusetts Fire Prevention Regulations, which adopts and amends NFPA 1, Fire Code, 2015 Edition
<div class="page-section">
  <div class="content-section">

    </div>
    </div>