---
import SectionContainer from "./SectionContainer.astro";
import Hero from "./index/Hero.astro";
import SocialMedia from "./index/SocialMedia.astro";
import ProjectsNav from "./ProjectsNav.astro";
import Base from "../layout/Base.astro";
import AuthForm from "./AuthForm.astro";
// Para cambiar idioma de textos
import { getI18N } from "@/i18n";
const { currentLocale } = Astro;
const i18n = getI18N({ currentLocale });

// Check authentication
import { checkAuth } from "../lib/auth";
const { isAuth, session, user, role } = await checkAuth(Astro.cookies);
---

<Base title={i18n.SEO_TITLE} description={i18n.SEO_DESCRIPTION}>
  

    {isAuth ? (

        <SectionContainer id="hero" class="flex flex-col gap-y-6">
          <Hero title={'' + user.user_metadata.name} description={role || 'No role'}/>
        </SectionContainer>

        <!-- Client content -->
        {role ? (
          <SectionContainer id="sub-nav" class="flex flex-col gap-y-6">
            <ProjectsNav role={role}/>
          </SectionContainer>
        ) : (

          <SectionContainer class="flex flex-col gap-y-6">
            <h2>No role</h2>
          </SectionContainer>
        )}

      
    ) : (
      <!-- Non-authenticated content -->
      <SectionContainer id="auth" class="flex flex-col gap-y-6 mx-6">
        <AuthForm />
      </SectionContainer>
    
    )}

    <SectionContainer class="fixed bottom-0 flex flex-col gap-y-6">
      <SocialMedia />
    </SectionContainer>

  </Base>
