---
// import { supabase } from "../lib/supabaseClient";
import SectionContainer from "./SectionContainer.astro";
---

<!-- Upload Progress --><!-- <div id="upload-progress" class="mt-6 hidden">
  <h3 class="mb-4 text-lg font-medium text-gray-900 dark:text-white">
    Uploading...
  </h3>
  <div id="progress-list" class="space-y-3"></div>
</div> --><!-- Created Projects --><!-- PDF Viewer - 1/3 width on md+ screens, sticky on md+ -->
<SectionContainer
  id="pdf-viewer-container"
  class="w-full md:w-1/3 md:sticky md:top-20 md:self-start"
/>
