---
import SearchInput from "../form/SearchInput.astro";
import { globalClasses } from "../../pages/api/global/global-classes";

const { globalFormClasses } = globalClasses();
---

<form action="#" method="GET" class={`${globalFormClasses} hidden md:block md:pl-2`}>
  <label for="topbar-search" class="sr-only">Search</label>
  <div class="md:w-96">
    <SearchInput
      id="topbar-search"
      name="email"
      placeholder="Search"
      globalInputClasses="block rounded-lg border border-gray-300 bg-gray-50 p-2.5 text-sm text-gray-900 focus:border-primary-500 focus:ring-primary-500 dark:border-gray-600 dark:bg-gray-700 dark:text-white dark:placeholder-gray-400 dark:focus:border-primary-500 dark:focus:ring-primary-500"
    />
  </div>
</form>
