---
import BoxIcon from "./BoxIcon.astro";

interface Props {
  isAuth: boolean;
  currentUser: any;
  currentRole: string | null;
  session: any;
  class: string;
}

const { isAuth, currentUser } = Astro.props;
---

{
  isAuth ? (
      <img
        id="user-avatar"
        src={currentUser?.user_metadata?.avatar_url || ""}
        alt="User avatar"
        class="mWvJQyBFgwNGEt0h7bSP yNvZ2JlUalNo5uPPv1sf _VPh6kIywCMfXFfQLas4 RpVwy4sO7Asb86CncKJ_"
        onerror="this.style.display='none'; this.nextElementSibling.style.display='block';"
      />
      <BoxIcon name="user" customStyle="display:none;" variant="outline" />
  ) : (
    <a
      href="/login"
      aria-label="btn-login"
      class="mWvJQyBFgwNGEt0h7bSP yNvZ2JlUalNo5uPPv1sf _VPh6kIywCMfXFfQLas4 RpVwy4sO7Asb86CncKJ_"
    >
      <BoxIcon name="login" variant="outline" />
    </a>
  )
}
