---
import BoxIcon from "./BoxIcon.astro";

interface Props {
  isAuth: boolean;
  currentUser: any;
  currentRole: string | null;
  session: any;
  class: string;
}

const { isAuth, currentUser, class: className = "" } = Astro.props;

// Debug logging
// console.log("🔍 [AuthIcon] Props:", {
//   isAuth,
// });
---

{
  isAuth ? (
    <a
      class={`hidden md:block ${className}`}
      data-drawer-target="drawer-user-center"
      data-drawer-show="drawer-user-center"
      data-drawer-placement="right"
      aria-controls="drawer-user-center"
      type="button"
    >
      <img
        id="user-avatar"
        src={currentUser.user_metadata.avatar_url}
        alt="User avatar"
        class="block size-8 rounded-full"
        onerror="this.style.display='none'; this.nextElementSibling.style.display='block';"
      />
      <BoxIcon name="user" style="display:none;" class="bx-sm" />
    </a>
  ) : (
    <>
      {/* Not Authenticated: Login Button */}
      <a href="/login" aria-label="btn-profile" class={className}>
        <BoxIcon name="user" />
      </a>
    </>
  )
}
