---
const {
  globalInputClasses,
  globalSecondaryTextClasses,
  globalPrimaryTextClasses,
  currentUser,
  year,
  globalCompanyName,
  isBackendPage,
} = Astro.props;

// Footer component

// const {
//   isAuth,
//   currentUser,
//   currentRole,
//   session,
//   visibleNavItems,
//   desktopNavigationHTML,
//   mobileNavigationHTML,
//   assignedProjects,
//   assignedProjectsCount,
//   project,
//   projectId,
//   supabaseUrl,
// } = Astro.props;
---

<footer
  class="mt-4 border-t border-gray-200 bg-gray-100 p-4 dark:border-gray-600 dark:bg-gray-800 md:flex md:items-center md:justify-between"
>
  <div class="align-center flex justify-center space-x-3">
    <p class="roTtmJKSiubwdmgJkwrv mb-4 text-center text-sm text-gray-500 dark:text-gray-400">
      © {new Date().getFullYear().toString()}
      {globalCompanyName}.<br />All rights reserved.
    </p>

    <!-- Legal Links -->
  </div>

  <div class="align-center flex justify-center space-x-3">
    <div class="flex flex-wrap items-center justify-center gap-4 md:justify-end">
      <!-- Certificate images temporarily disabled to fix console errors -->
      <img
        src="/img/cert-afsa.png"
        alt="AFSA Certification"
        class="h-auto w-16 max-w-[40px] object-contain grayscale md:w-20"
      />
      <img
        src="/img/cert-hfsc.jpg"
        alt="HFSC Certification"
        class="h-auto w-16 max-w-[90px] object-contain grayscale md:w-20"
      />
      <img
        src="/img/NFPA_logo.svg"
        alt="NFPA Certification"
        class="h-auto w-16 max-w-[40px] object-contain grayscale hover:grayscale-0 md:w-20"
      />
      <img
        src="/img/cert-nfsa.png"
        alt="NFSA Certification"
        class="h-auto w-16 max-w-[40px] object-contain grayscale md:w-20"
      />
      <img
        src="/img/cert-nicet.png"
        alt="NICET Certification"
        class="h-auto w-16 max-w-[40px] object-contain grayscale md:w-20"
      />
      <img
        src="/img/cert-sfpe.png"
        alt="SFPE Certification"
        class="h-auto w-16 max-w-[40px] object-contain grayscale md:w-20"
      />
    </div>
  </div>
  <div class="align-center flex justify-center space-x-3">
    <ul class="align-center flex justify-center">
      <li>
        <a href="/privacy" class="me-6 text-gray-900 underline hover:no-underline dark:text-white"
          >Privacy</a
        >
      </li>
      <li>
        <a href="/terms" class="me-6 text-gray-900 underline hover:no-underline dark:text-white"
          >Terms</a
        >
      </li>
      <li>
        <a href="/cookies" class="text-gray-900 underline hover:no-underline dark:text-white"
          >Cookies</a
        >
      </li>
    </ul>
  </div>
</footer>
