---
// import { getI18N } from "@/i18n";
import Logo from "./Logo.astro";
import SectionContainer from "./SectionContainer.astro";

// Navigation schema
---

<footer class="bg-hub-background pb-2 pt-4 dark:bg-hub-background-dark">
  <SectionContainer class="px-6 py-8">
    <div class="relative mx-auto flex max-w-7xl items-center justify-between">
      <!-- Navigation (Desktop) -->
      <!-- <nav class="hidden items-center space-x-8 md:flex">
      {
        visibleNavigation.map((item) =>
          item.isPrimary ? (
            <a
              href={item.href}
              class="inline-flex items-center rounded-lg bg-red-600 px-4 py-2 font-medium text-white transition-colors hover:bg-red-700"
            >
              {item.label}
            </a>
          ) : (
            <a
              href={item.href}
              class="font-medium text-gray-700 transition-colors hover:text-red-600 dark:text-gray-300 dark:hover:text-red-400"
            >
              {item.label}
            </a>
          )
        )
      }
    </nav> -->

      <div class="flex items-center justify-center">
        <p class="text-sm text-gray-500">
          &copy; {new Date().getFullYear()} CAPCo Fire. All rights reserved.
        </p>
      </div>

      <Logo />

      <!-- <div class="flex items-center justify-center">
      <p class="text-sm text-gray-500">
        <a href="/privacy-policy" class="text-gray-500 hover:text-red-600">Privacy Policy</a>
      </p>
    </div>

    <div class="flex items-center justify-center">
      <p class="text-sm text-gray-500">
        <a href="/terms-of-service" class="text-gray-500 hover:text-red-600">Terms of Service</a>
      </p>
    </div>

    <div class="flex items-center justify-center">
      <p class="text-sm text-gray-500">
        <a href="/contact" class="text-gray-500 hover:text-red-600">Contact Us</a>
      </p>
    </div>

    <div class="flex items-center justify-center">
      <p class="text-sm text-gray-500">
        <a href="/faq" class="text-gray-500 hover:text-red-600">FAQ</a>
      </p>
    </div>

    <div class="flex items-center justify-center">
      <p class="text-sm text-gray-500">
        <a href="/blog" class="text-gray-500 hover:text-red-600">Blog</a>
      </p>
    </div>

    <div class="flex items-center justify-center">
      <p class="text-sm text-gray-500">
        <a href="/careers" class="text-gray-500 hover:text-red-600">Careers</a>
      </p>
    </div> -->
    </div>
  </SectionContainer>
</footer>
