---
// Hero section component

interface Props {
  title: string;
  description: string;
  projectLength: number;
}

import Button from "./Button.astro";
const { title, description, projectLength } = Astro.props;
---

<!-- <div
  class="col-span-full flex items-center align-center justify-between md:flex"
>
  <h1 class="text-2xl font-medium text-black dark:text-white" id="page-title" set:html={title} />
  <h2 id="page-subtitle" class="text-black dark:text-white" set:html={description} />
</div> -->
<div
  class="flex items-center align-center col-span-full justify-between md:flex"
>
  <div class="mb-4 tkZo48dB4RhnHSlDXzoe">
    <nav class="mb-4 flex" aria-label="Breadcrumb">
      <ol
        class="_k0lTW0vvzboctTxDi2R align-center R0X5VtiZIoV7IjvrxBJ_ hPWJir4VhLurUkdR8iyI UiRKvjjl_rZRhuc5tGul"
      >
        <li class="_k0lTW0vvzboctTxDi2R align-center">
          <a
            href="https://flowbite.com/application-ui/demo/"
            class="_k0lTW0vvzboctTxDi2R align-center rYHHksRBEMl_guI3q0UQ YXx9oZ15oLXSCG32YPBT XIIs8ZOri3wm8Wnj9N_y dMTOiA3mf3FTjlHu6DqW text-sm font-medium"
          >
            <svg
              class="E_3B4mrFSil75QXvKTiK _o2IXcpM0qnG3JPReKus E9GV5sZJIbfO_GEQ_moc"
              aria-hidden="true"
              xmlns="http://www.w3.org/2000/svg"
              fill="currentColor"
              viewBox="0 0 24 24"
            >
              <path
                fill-rule="evenodd"
                d="M11.3 3.3a1 1 0 0 1 1.4 0l6 6 2 2a1 1 0 0 1-1.4 1.4l-.3-.3V19a2 2 0 0 1-2 2h-3a1 1 0 0 1-1-1v-3h-2v3c0 .6-.4 1-1 1H7a2 2 0 0 1-2-2v-6.6l-.3.3a1 1 0 0 1-1.4-1.4l2-2 6-6Z"
                clip-rule="evenodd"></path>
            </svg>
            Home
          </a>
        </li>
        <li>
          <div class="align-center flex">
            <svg
              class="_o2IXcpM0qnG3JPReKus E9GV5sZJIbfO_GEQ_moc _JmTNv5EiHqK2A1jcQSf mx-1 rtl:rotate-180"
              aria-hidden="true"
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
            >
              <path
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="m9 5 7 7-7 7"></path>
            </svg>
            <a
              href="#"
              class="rYHHksRBEMl_guI3q0UQ YXx9oZ15oLXSCG32YPBT XIIs8ZOri3wm8Wnj9N_y dMTOiA3mf3FTjlHu6DqW ms-1 ms-2 text-sm font-medium"
              >Project management</a
            >
          </div>
        </li>
        <li aria-current="page">
          <div class="align-center flex">
            <svg
              class="_o2IXcpM0qnG3JPReKus E9GV5sZJIbfO_GEQ_moc _JmTNv5EiHqK2A1jcQSf mx-1 rtl:rotate-180"
              aria-hidden="true"
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
            >
              <path
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="m9 5 7 7-7 7"></path>
            </svg>
            <span class="PeR2JZ9BZHYIH8Ea3F36 XIIs8ZOri3wm8Wnj9N_y ms-1 ms-2 text-sm font-medium"
              >All projects</span
            >
          </div>
        </li>
      </ol>
    </nav>
    <h1 class="text-2xl font-medium text-gray-900 dark:text-white">
      All projects
    </h1>
  </div>
  <!-- <button
    type="button"
    id="newProjectButton"
    data-modal-target="newProjectModal"
    data-modal-toggle="newProjectModal"
    class="flex w-full align-center justify-center rounded-md g40_g3BQzYCOX5eZADgY _Cj_M6jt2eLjDgkBBNgI py-2 text-sm font-medium y6GKdvUrd7vp_pxsFb57 YoPCmQ0E_V5W0GGmSIdm BkIbg_JwkgiyRW804Hhu _dylIDxYTN3qgvD4U597 KmgKPWh7pHX4ztLneO0T d8_fVOcgDmbt7UdpfeLK WuKugQzwTT7o1wwBck2R _ZsTMX_gz275093orLWM icxWjIgUd9_dzYucx1nx"
  >
    <svg
      class="_Tk8743voA_rOget_8jS IRKzgyPj4qWOh2vq2xBg _o2IXcpM0qnG3JPReKus E9GV5sZJIbfO_GEQ_moc"
      aria-hidden="true"
      xmlns="http://www.w3.org/2000/svg"
      fill="none"
      viewBox="0 0 24 24"
    >
      <path
        stroke="currentColor"
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="2"
        d="M5 12h14m-7 7V5"></path>
    </svg>
    Add new project
  </button> -->
</div>

<div
  class="flex items-center align-center col-span-full hidden justify-between md:flex"
>
  <nav class="mb-4 flex" aria-label="Breadcrumb">
    <ol
      class="_k0lTW0vvzboctTxDi2R align-center R0X5VtiZIoV7IjvrxBJ_ hPWJir4VhLurUkdR8iyI UiRKvjjl_rZRhuc5tGul"
    >
      <li class="_k0lTW0vvzboctTxDi2R align-center">
        <a
          href="#"
          class="_k0lTW0vvzboctTxDi2R align-center rYHHksRBEMl_guI3q0UQ XIIs8ZOri3wm8Wnj9N_y dMTOiA3mf3FTjlHu6DqW text-sm font-medium hover:text-primary"
        >
          <svg
            class="E_3B4mrFSil75QXvKTiK _o2IXcpM0qnG3JPReKus E9GV5sZJIbfO_GEQ_moc"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            fill="currentColor"
            viewBox="0 0 24 24"
          >
            <path
              fill-rule="evenodd"
              d="M11.3 3.3a1 1 0 0 1 1.4 0l6 6 2 2a1 1 0 0 1-1.4 1.4l-.3-.3V19a2 2 0 0 1-2 2h-3a1 1 0 0 1-1-1v-3h-2v3c0 .6-.4 1-1 1H7a2 2 0 0 1-2-2v-6.6l-.3.3a1 1 0 0 1-1.4-1.4l2-2 6-6Z"
              clip-rule="evenodd"></path>
          </svg>
          Home
        </a>
      </li>
      <li>
        <div class="align-center flex">
          <svg
            class="_o2IXcpM0qnG3JPReKus E9GV5sZJIbfO_GEQ_moc _JmTNv5EiHqK2A1jcQSf mx-1 rtl:rotate-180"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
          >
            <path
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="m9 5 7 7-7 7"></path>
          </svg>
          <a
            href="#"
            class="rYHHksRBEMl_guI3q0UQ XIIs8ZOri3wm8Wnj9N_y dMTOiA3mf3FTjlHu6DqW ms-1 ms-2 text-sm font-medium hover:text-primary"
            >Project management</a
          >
        </div>
      </li>
      <li aria-current="page">
        <div class="align-center flex">
          <svg
            class="_o2IXcpM0qnG3JPReKus E9GV5sZJIbfO_GEQ_moc _JmTNv5EiHqK2A1jcQSf mx-1 rtl:rotate-180"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
          >
            <path
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="m9 5 7 7-7 7"></path>
          </svg>
          <span class="PeR2JZ9BZHYIH8Ea3F36 XIIs8ZOri3wm8Wnj9N_y ms-1 ms-2 text-sm font-medium">
            Active Projects
          </span>
        </div>
      </li>
    </ol>
  </nav>
  <h1 class="text-2xl font-medium text-gray-900 dark:text-white">
    {
      projectLength === 0
        ? "No Active Projects"
        : projectLength === 1
          ? "1 Active Project"
          : `${projectLength} Active Projects`
    }
  </h1>

  <div class="mx-auto flex max-w-2xl items-center justify-center px-4 pb-6 pt-4">
    <div class="inset-0 mx-auto flex max-w-2xl items-center justify-center pb-6">
      <Button
        href="/project/new"
        variant="primary"
        size="lg"
        icon="plus"
        iconPosition="left"
        class="w-full"
      >
        New Project
      </Button>
    </div>
  </div>
</div>
