---
// Hero section component

interface Props {
  title: string;
  description: string;
}

import SectionContainer from "./SectionContainer.astro";
const { title, description } = Astro.props;
---

<SectionContainer
  class="bg-background-card py-20 pt-16 dark:bg-background-card-dark"
  fullWidth={true}
>
  <!-- <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8"> -->
  <h1 class="text-2xl font-medium text-black dark:text-white" id="page-title" data-refresh>
    {title}
  </h1>
  <h2 id="page-subtitle" class="text-secondary dark:text-secondary-dark" set:html={description} />
  <!-- </div> -->
</SectionContainer>
