---
// Hero section component

interface Props {
  title: string;
  description: string;
  projectLength: number;
}

import Button from "./Button.astro";
const { title, description, projectLength } = Astro.props;
---

<!-- <div
  class="EWLTGduHCjFnjN6tLCXV _Zt0QWNoskeJIuWJ94UW XJih04pKHf8Cekga6Hj3 Q_jg_EPdNf9eDMn1mLI2 sJNGKHxFYdN5Nzml5J2j rvdRhGyExrNYTA6euxsF"
>
  <h1 class="text-2xl font-medium text-black dark:text-white" id="page-title" set:html={title} />
  <h2 id="page-subtitle" class="text-black dark:text-white" set:html={description} />
</div> -->
<div
  class="EWLTGduHCjFnjN6tLCXV _Zt0QWNoskeJIuWJ94UW XJih04pKHf8Cekga6Hj3 Q_jg_EPdNf9eDMn1mLI2 sJNGKHxFYdN5Nzml5J2j rvdRhGyExrNYTA6euxsF"
>
  <div class="hD0sTTDgbxakubcHVW2X tkZo48dB4RhnHSlDXzoe">
    <nav class="hD0sTTDgbxakubcHVW2X YRrCJSr_j5nopfm4duUc" aria-label="Breadcrumb">
      <ol
        class="_k0lTW0vvzboctTxDi2R Q_jg_EPdNf9eDMn1mLI2 R0X5VtiZIoV7IjvrxBJ_ hPWJir4VhLurUkdR8iyI UiRKvjjl_rZRhuc5tGul"
      >
        <li class="_k0lTW0vvzboctTxDi2R Q_jg_EPdNf9eDMn1mLI2">
          <a
            href="#"
            class="_k0lTW0vvzboctTxDi2R Q_jg_EPdNf9eDMn1mLI2 c8dCx6gnV43hTOLV6ks5 ezMFUVl744lvw6ht0lFe rYHHksRBEMl_guI3q0UQ XIIs8ZOri3wm8Wnj9N_y dMTOiA3mf3FTjlHu6DqW hover:text-primary"
          >
            <svg
              class="E_3B4mrFSil75QXvKTiK _o2IXcpM0qnG3JPReKus E9GV5sZJIbfO_GEQ_moc"
              aria-hidden="true"
              xmlns="http://www.w3.org/2000/svg"
              fill="currentColor"
              viewBox="0 0 24 24"
            >
              <path
                fill-rule="evenodd"
                d="M11.3 3.3a1 1 0 0 1 1.4 0l6 6 2 2a1 1 0 0 1-1.4 1.4l-.3-.3V19a2 2 0 0 1-2 2h-3a1 1 0 0 1-1-1v-3h-2v3c0 .6-.4 1-1 1H7a2 2 0 0 1-2-2v-6.6l-.3.3a1 1 0 0 1-1.4-1.4l2-2 6-6Z"
                clip-rule="evenodd"></path>
            </svg>
            Home
          </a>
        </li>
        <li>
          <div class="YRrCJSr_j5nopfm4duUc Q_jg_EPdNf9eDMn1mLI2">
            <svg
              class="H9gtVTm5_rPWftCfV_9B _o2IXcpM0qnG3JPReKus E9GV5sZJIbfO_GEQ_moc _JmTNv5EiHqK2A1jcQSf _oMLPqquxUE25nEAshY6"
              aria-hidden="true"
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
            >
              <path
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="m9 5 7 7-7 7"></path>
            </svg>
            <a
              href="#"
              class="UwVmaTmxbsmvnpCB2B1K c8dCx6gnV43hTOLV6ks5 ezMFUVl744lvw6ht0lFe rYHHksRBEMl_guI3q0UQ XIIs8ZOri3wm8Wnj9N_y dMTOiA3mf3FTjlHu6DqW _9RDyySiJ2_PuvLFkRD4 hover:text-primary"
              >Project management</a
            >
          </div>
        </li>
        <li aria-current="page">
          <div class="YRrCJSr_j5nopfm4duUc Q_jg_EPdNf9eDMn1mLI2">
            <svg
              class="H9gtVTm5_rPWftCfV_9B _o2IXcpM0qnG3JPReKus E9GV5sZJIbfO_GEQ_moc _JmTNv5EiHqK2A1jcQSf _oMLPqquxUE25nEAshY6"
              aria-hidden="true"
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
            >
              <path
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="m9 5 7 7-7 7"></path>
            </svg>
            <span
              class="UwVmaTmxbsmvnpCB2B1K c8dCx6gnV43hTOLV6ks5 ezMFUVl744lvw6ht0lFe PeR2JZ9BZHYIH8Ea3F36 XIIs8ZOri3wm8Wnj9N_y _9RDyySiJ2_PuvLFkRD4"
            >
              Active Projects
            </span>
          </div>
        </li>
      </ol>
    </nav>
    <h1 class="vyo_A8gnQD1QWDPglr3h IOPhczRgtphv6NdNBDjj __9sbu0yrzdhGIkLWNXl OyABRrnTV_kvHV7dJ0uE">
      {
        projectLength === 0
          ? "No Active Projects"
          : projectLength === 1
            ? "1 Active Project"
            : `${projectLength} Active Projects`
      }
    </h1>
  </div>
  <div
    class="RZmKBZs1E1eXw8vkE6jY p_2EXc_a2sDA_h41l8QU mx-auto flex max-w-2xl items-center justify-center pb-6"
  >
    <div class="inset-0 mx-auto flex max-w-2xl items-center justify-center pb-6">
      <Button
        href="/project/new"
        variant="primary"
        size="lg"
        icon="plus"
        iconPosition="left"
        class="w-full"
      >
        New Project
      </Button>
    </div>
  </div>
</div>
