---
// Hero section component

interface Props {
  title: string;
  description: string;
  projectLength: number;
}

import Breadcrumb from "./Breadcrumb.astro";
import Button from "./Button.astro";
const { title, description, projectLength } = Astro.props;
---

<!-- <div
  class="col-span-full flex items-center align-center justify-between md:flex"
>
  <h1 class="text-2xl font-medium text-black dark:text-white" id="page-project-title" set:html={title} />
  <h2 id="page-subtitle" class="text-black dark:text-white" set:html={description} />
</div> -->
<div class="align-center col-span-full justify-between p-4">
  <Breadcrumb
    items={[
      {
        label: "Dashboard",
        href: "#",
        icon: "home",
      },
      {
        label: "<span class='hidden sm:inline'>Project </span>Projects",
        href: "#",
      },
      {
        label:
          projectLength === 0
            ? "New<span class='hidden sm:inline'> Project</span>"
            : projectLength === 1
              ? "1 Active Project"
              : `${projectLength} Active Projects`,
        current: true,
      },
      // {
      //   label: "New Project",
      //   href: "/project/new",
      //   icon: "plus",
      // },
    ]}
  />
</div>
