---
// Hero section component

interface Props {
  title: string;
  description: string;
  projectLength: number;
}

import Breadcrumb from "./Breadcrumb.astro";
import Button from "./Button.astro";
const { title, description, projectLength } = Astro.props;
---

<!-- <div
  class="col-span-full flex items-center align-center justify-between md:flex"
>
  <h1 class="text-2xl font-medium text-black dark:text-white" id="page-project-title" set:html={title} />
  <h2 id="page-subtitle" class="text-black dark:text-white" set:html={description} />
</div> -->
<div class="align-center col-span-full justify-between p-4 md:flex hidden">
  <Breadcrumb
    items={[
      {
        label: "Dashboard",
        href: "#",
        icon: "home",
      },
      {
        label: "Project management",
        href: "#",
      },
      {
        label:
          projectLength === 0
            ? "New Project"
            : projectLength === 1
              ? "1 Active Project"
              : `${projectLength} Active Projects`,
        current: true,
      },
      {
        label: "+",
        href: "/project/new",
      },
    ]}
  />
</div>
