---
const { class: className = "", id } = Astro.props;
---

<section
  id={id}
  data-section={id}
  class={`section ${className} my-6 scroll-m-20 relative mx-auto max-w-7xl px-6`}
>
  <slot />
</section>
