---
const {
  class: className = "",
  id,
  type = "default",
  fullWidth = false,
  py = "py-8 lg:px-6 lg:py-16",
} = Astro.props;

const typeClasses: Record<string, string> = {
  primary: "mx-auto px-4  bg-background-light dark:bg-background-dark",
  secondary: "mx-auto px-4 bg-background-card dark:bg-background-card-dark",
  tertiary: "mx-auto px-4 bg-neutral-50 dark:bg-neutral-900",
  default: "mx-auto px-4 bg-background-light dark:bg-background-dark",
};
---

<div id={id} data-section={id} class="RZmKBZs1E1eXw8vkE6jY p_2EXc_a2sDA_h41l8QU">
  {
    (
      // fullWidth ? (
      <div>
        <slot />
      </div>
      // ) : (
      //   <div class="mx-auto max-w-screen-xl">
      //     <slot />
      //   </div>
      // )
    )
  }
</div>
