---
const { class: className = "", id, type = "default" } = Astro.props;

const typeClasses: Record<string, string> = {
  primary: "px-6 p-16 bg-background-light dark:bg-background-dark",
  secondary: "bg-background-card dark:bg-background-card-dark",
  tertiary: "bg-neutral-50 dark:bg-neutral-900",
  default: "px-6 pb-16 pt-16 bg-background-light dark:bg-background-dark",
};
---

<section
  id={id}
  data-section={id}
  class={`section scroll-m-20 relative mx-auto px-6 ${className} ${typeClasses[type]}`}
>
  <slot />
</section>
