---
const { class: className = "", id, type = "default" } = Astro.props;

const typeClasses: Record<string, string> = {
  primary: "px-6 p-16 hub-background dark:bg-gray-900",
  secondary: "bg-hub-secondary",
  tertiary: "bg-hub-tertiary",
  default: "px-6 pb-16 pt-16 dark:bg-gray-900",
};
---

<section
  id={id}
  data-section={id}
  class={`section scroll-m-20 relative mx-auto px-6 ${className} ${typeClasses[type]}`}
>
  <slot />
</section>
