---
import BoxIcon from "./BoxIcon.astro";

import { getLangFromUrl, useTranslatedPath } from "@/i18n/utils";

//para cambiar entre idiomas y traducir rutas
const lang = getLangFromUrl(Astro.url);
// const t = useTranslations(lang);
const translatePath = useTranslatedPath(lang);
---

<!-- Aside para links secundarios -->
<aside>
  <div class="flex flex-wrap gap-2 pl-6">
    <a
      class=` text-hub-inactive hover:text-hub-title rounded-full border-[1px] size-9 flex items-center justify-center border-hub-border 
  dark:border-hub-border-dark 
  hover:drop-shadow-md 
  hover:bg-hub-background-nav
   hover:dark:bg-hub-background-nav-dark
    dark:text-hub-inactive `
      rel="noopener noreferrer"
    >
      <!-- class="rounded-full border border-white/10 flex justify-center items-center
gap-x-2 py-1 px-2 md:py-2 md:px-4 text-xs md:text-base bg-white/5
hover:bg-white/10 transition" -->

      Problem?
      <BoxIcon
        name="up-arrow-alt"
        class="size-4 transition-transform duration-300 ease-in-out group-hover:rotate-45"
      />

      <slot />
    </a>
    <!-- <Tooltip tooltip="Portfolio">
      <SocialPill
        href="https://itsteddydev.vercel.app/"
        class=""
        target="_blank"
      >
        <Web class="size-4" />
      </SocialPill>
    </Tooltip>

    <Tooltip tooltip="GitHub">
      <SocialPill
        href="https://www.github.com/itsteddydev"
        class=""
        target="_blank"
      >
        <GitHub class="size-4" />
      </SocialPill>
    </Tooltip>
    <Tooltip tooltip="LinkedIn">
      <SocialPill
        href="https://www.linkedin.com/in/itsteddydev"
        class=""
        target="_blank"
      >
        <LinkedIn class="size-4" />
      </SocialPill>
    </Tooltip>
    <Tooltip tooltip="Instagram">
      <SocialPill
        href="https://www.instagram.com/itsteddydev"
        class=""
        target="_blank"
      >
        <Instagram class="size-4" />
      </SocialPill>
    </Tooltip> -->
  </div>
</aside>
