---
interface Props {
  currentUser: any;
}

const { currentUser } = Astro.props;

if (!currentUser) {
  return null;
}
---

<button
  id="togglSidebarButton"
  aria-expanded="true"
  aria-controls="sidebar"
  class="_6aYwdjzDCvXK0bVJQOb _SmdlCf6eUKB_V9S5IDj SA5DoMHfwOFtY4h_qzuM Y3FxyuXtj2gecrGXvLEI Z4DH5a4vmjReSFRBpPgz iyrgFoJBjXFzXLcq5BhU _7KA5gD55t2lxf9Jkj20 ZnBoTVi7VOJdCLSSU62n XIIs8ZOri3wm8Wnj9N_y OPrb_iG5WDy_7F05BDOX dMTOiA3mf3FTjlHu6DqW wfEkkXhq1BXGkg7xpnO1 N3Gb8rTHzm26fWGpfaqP"
>
  <svg
    class="bLH_DeiQ7Cp4iBqeW3kq RWlOLn85L9w5_1l9GIaX"
    data-sidebar-toggle-collapse-icon=""
    aria-hidden="true"
    xmlns="http://www.w3.org/2000/svg"
    width="24"
    height="24"
    fill="none"
    viewBox="0 0 24 24"
  >
    <path stroke="currentColor" stroke-linecap="round" stroke-width="2" d="M5 7h14M5 12h14M5 17h10"
    ></path>
  </svg>
  <svg
    class="_SmdlCf6eUKB_V9S5IDj bLH_DeiQ7Cp4iBqeW3kq RWlOLn85L9w5_1l9GIaX"
    data-sidebar-toggle-expand-icon=""
    aria-hidden="true"
    xmlns="http://www.w3.org/2000/svg"
    width="24"
    height="24"
    fill="none"
    viewBox="0 0 24 24"
  >
    <path stroke="currentColor" stroke-linecap="round" stroke-width="2" d="M5 7h14M5 12h14M5 17h14"
    ></path>
  </svg>
</button>
<button
  data-drawer-target="sidebar"
  data-drawer-toggle="sidebar"
  aria-expanded="false"
  aria-controls="sidebar"
  class="_6aYwdjzDCvXK0bVJQOb oPlV3cK5HfQEd_TT8sK9 SA5DoMHfwOFtY4h_qzuM Y3FxyuXtj2gecrGXvLEI Z4DH5a4vmjReSFRBpPgz iyrgFoJBjXFzXLcq5BhU _7KA5gD55t2lxf9Jkj20 ZnBoTVi7VOJdCLSSU62n XIIs8ZOri3wm8Wnj9N_y OPrb_iG5WDy_7F05BDOX dMTOiA3mf3FTjlHu6DqW wfEkkXhq1BXGkg7xpnO1 F34pkf_DAj2DlPtfAEMV"
>
  <svg
    class="bLH_DeiQ7Cp4iBqeW3kq RWlOLn85L9w5_1l9GIaX"
    data-sidebar-toggle-collapse-icon=""
    aria-hidden="true"
    xmlns="http://www.w3.org/2000/svg"
    width="24"
    height="24"
    fill="none"
    viewBox="0 0 24 24"
  >
    <path stroke="currentColor" stroke-linecap="round" stroke-width="2" d="M5 7h14M5 12h14M5 17h10"
    ></path>
  </svg>
</button>
