<!DOCTYPE html>
<html lang="en" class="no-scroll fa-events-icons-failed">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <title></title>
    <meta
      name="description"
      content="Perzonalize your own artwork by using our BuildYourOwn™ tool simply by dragging and dropping."
    />

    <meta name="twitter:card" property="twitter:card" content="summary" />
    <meta
      name="twitter:site"
      property="twitter:site"
      content="@ConfigurableArt"
    />
    <meta
      name="og:title"
      property="og:title"
      content="Configurable by Felipe Pantone"
    />
    <meta
      name="og:image"
      property="og:image"
      content="assets/images/sharing.jpg"
    />
    <meta name="og:type" property="og:type" content="website" />
    <meta name="og:url" property="og:url" content="#" />
    <link rel="canonical" href="#" />
    <meta
      name="og:description"
      property="og:description"
      content="erzonalize your own artwork by using our BuildYourOwn™ tool simply by dragging and dropping."
    />

    <!-- CSS -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/normalize/7.0.0/normalize.min.css"
      integrity=""
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="css/main.css" />

    <!-- FONTS -->
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <!-- <link href="/assets/fonts/akkurat/akkurat.css" rel="stylesheet"> -->
    <script src="https://use.fontawesome.com/1e3c357b34.js"></script>
    <link
      href="https://use.fontawesome.com/1e3c357b34.css"
      media="all"
      rel="stylesheet"
    />

    <!-- FAVICONS-->
    <link rel="apple-touch-icon" sizes="57x57" href="apple-icon-57x57.png" />
    <link rel="apple-touch-icon" sizes="60x60" href="apple-icon-60x60.png" />
    <link rel="apple-touch-icon" sizes="72x72" href="apple-icon-72x72.png" />
    <link rel="apple-touch-icon" sizes="76x76" href="apple-icon-76x76.png" />
    <link
      rel="apple-touch-icon"
      sizes="114x114"
      href="apple-icon-114x114.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="120x120"
      href="apple-icon-120x120.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="144x144"
      href="apple-icon-144x144.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="152x152"
      href="apple-icon-152x152.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="apple-icon-180x180.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="192x192"
      href="android-icon-192x192.png"
    />
    <link rel="icon" type="image/png" sizes="32x32" href="favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="96x96" href="favicon-96x96.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="favicon-16x16.png" />
    <link rel="manifest" href="manifest.json" />
    <meta name="msapplication-TileColor" content="#ffffff" />
    <meta name="msapplication-TileImage" content="/ms-icon-144x144.png" />
    <meta name="theme-color" content="#ffffff" />
  </head>
  <body class="flex-v no-scroll h-100">
    <input id="share-text-url" style="position: absolute; left: -3000px" />
    <header class="flex-v flex-a-center">
      <div id="menu">
        <h1 class="clickable"></h1>
        <ul id="menu-right">
          <a href="#" class="hide-tablet">Need more info?</a>
          <button id="btn-checkout" class="ca-button">
            <span class="checkout-amount">0</span> €
            <i class="material-icons">shopping_cart</i>
          </button>
        </ul>
        <ul id="menu-right-window" style="display: none">
          <button class="ca-minibutton">
            <i class="material-icons">close</i>
          </button>
        </ul>
      </div>
    </header>

    <main class="flex-1 p-rel">
      <div class="ca-tool-main p-abs-full">
        <div class="flex-h p-abs-full">
          <div class="ca-tool-itemsmenu pad-15 flex-v hide-phone">
            <p class="text-center">Pick an element</p>
            <div id="tool-palette" class="flex-1 scroll-flex palette-items">
              <img
                data-itemid="i53"
                src="assets/images/items/i-53-20-2.png"
                width="100%"
              />

              <img
                data-itemid="i54"
                src="assets/images/items/i-54-20-1.png"
                width="100%"
              />

              <img
                data-itemid="i55"
                src="assets/images/items/i-55-20-1.png"
                width="100%"
              />

              <img
                data-itemid="i56"
                src="assets/images/items/i-56-20-1.png"
                width="100%"
              />

              <img
                data-itemid="i57"
                src="assets/images/items/i-57-10-1.png"
                width="50%"
              />

              <img
                data-itemid="i58"
                src="assets/images/items/i-58-10-1.png"
                width="50%"
              />

              <img
                data-itemid="i59"
                src="assets/images/items/i-59-20-10.png"
                width="100%"
              />

              <img
                data-itemid="i6"
                src="assets/images/items/i-6-20-1.png"
                width="100%"
              />

              <img
                data-itemid="i60"
                src="assets/images/items/i-60-20-4.png"
                width="100%"
              />

              <img
                data-itemid="i61"
                src="assets/images/items/i-61-20-10.png"
                width="100%"
              />

              <img
                data-itemid="i62"
                src="assets/images/items/i-62-20-4.png"
                width="100%"
              />

              <img
                data-itemid="i65"
                src="assets/images/items/i-65-10-10.png"
                width="50%"
              />

              <img
                data-itemid="i66"
                src="assets/images/items/i-66-20-4.png"
                width="100%"
              />

              <img
                data-itemid="i67"
                src="assets/images/items/i-67-20-10.png"
                width="100%"
              />

              <img
                data-itemid="i68"
                src="assets/images/items/i-68-20-2.png"
                width="100%"
              />

              <img
                data-itemid="i69"
                src="assets/images/items/i-69-20-4.png"
                width="100%"
              />

              <img
                data-itemid="i70"
                src="assets/images/items/i-70-20-4.png"
                width="100%"
              />

              <img
                data-itemid="i71"
                src="assets/images/items/i-71-20-1.png"
                width="100%"
              />

              <img
                data-itemid="i72"
                src="assets/images/items/i-72-10-5.png"
                width="50%"
              />

              <img
                data-itemid="i73"
                src="assets/images/items/i-73-10-4.png"
                width="50%"
              />

              <img
                data-itemid="i74"
                src="assets/images/items/i-74-10-4.png"
                width="50%"
              />

              <img
                data-itemid="i75"
                src="assets/images/items/i-75-10-2.png"
                width="50%"
              />

              <img
                data-itemid="i76"
                src="assets/images/items/i-76-10-1.png"
                width="50%"
              />

              <img
                data-itemid="i77"
                src="assets/images/items/i-77-5-4.png"
                width="25%"
              />

              <img
                data-itemid="i78"
                src="assets/images/items/i-78-5-4.png"
                width="25%"
              />

              <img
                data-itemid="i79"
                src="assets/images/items/i-79-5-4.png"
                width="25%"
              />

              <img
                data-itemid="i80"
                src="assets/images/items/i-80-5-2.png"
                width="25%"
              />

              <img
                data-itemid="i81"
                src="assets/images/items/i-81-5-4.png"
                width="25%"
              />

              <img
                data-itemid="i82"
                src="assets/images/items/i-82-5-1.png"
                width="25%"
              />
            </div>
          </div>
          <div class="flex-1 flex-v">
            <div class="flex-h flex-j-between pad-15 z-20">
              <button
                class="btn-show-help ca-minibutton ca-minibutton-circle hide-phone"
              >
                <i class="material-icons">help_outline</i>
              </button>
              <button
                id="btn-gridsnap-on"
                class="ca-minibutton ca-minibutton-circle"
                style="display: none"
              >
                <i class="material-icons">flip_to_front</i>
              </button>
              <button
                id="btn-gridsnap-off"
                class="ca-minibutton ca-minibutton-circle"
              >
                <i class="material-icons">flip_to_back</i>
              </button>
              <button
                class="btn-share ca-minibutton ca-minibutton-circle hide-phone"
              >
                <i class="material-icons">share</i>
              </button>
              <button
                id="btn-options"
                class="ca-minibutton ca-minibutton-circle only-phone"
              >
                <i class="material-icons">more_vert</i>
              </button>
            </div>
            <div class="flex-1" slty="width:0"></div>

            <div class="flex-h flex-j-between flex-a-end pad-15">
              <p class="flex-1 z-20 hide-phone">
                <!--<b>Dimension</b> -->
                <span id="dim-width">0</span> x <span id="dim-height">0</span>cm
                <br />
                (<span id="dim-width-in">0</span>" x
                <span id="dim-height-in">0</span>")
              </p>
              <button id="btn-remove" class="ca-button z-20 hide-phone">
                <i class="material-icons">delete</i>
                <span class="hide-phone">Remove All</span>
              </button>
              <div id="zoom-mobile" class="flex-h z-20 only-phone">
                <button class="btn-zoomin ca-minibutton ca-minibutton-circle">
                  <i class="material-icons">add</i>
                </button>
                <button class="btn-zoomout ca-minibutton ca-minibutton-circle">
                  <i class="material-icons">remove</i>
                </button>
              </div>
              <button
                id="btn-remove-mobile"
                class="ca-button z-20 only-phone"
                style="display: none"
              >
                <i class="material-icons">delete</i> <span> </span>
              </button>
              <div class="flex-1"></div>
              <div class="flex-v flex-a-end z-20 hide-phone">
                <button
                  id="btn-zoomreset"
                  class="ca-minibutton ca-minibutton-circle"
                  style="display: none"
                >
                  <i class="material-icons">zoom_out_map</i>
                </button>
                <button class="btn-zoomin ca-minibutton ca-minibutton-circle">
                  <i class="material-icons">add</i>
                </button>
                <button class="btn-zoomout ca-minibutton ca-minibutton-circle">
                  <i class="material-icons">remove</i>
                </button>
              </div>
              <button
                id="btn-showPalette"
                class="ca-minibutton ca-minibutton-circle m-t-15 z-20 only-phone"
              >
                <i class="material-icons">add</i>
              </button>
            </div>
            <div class="ca-tool-panarea"></div>
            <div class="ca-tool-workarea"></div>
          </div>

          <div
            id="initMessage"
            class="p-abs-full flex-v flex-a-center flex-j-center"
          >
            <div class="flex-h flex-a-end hide-phone">
              <div class="m-15 hide-phone">
                <img src="assets/images/tool/minimal-arrow.png" />
              </div>
              <div class="text-center">
                <h2><b>That's minimal!</b></h2>
                <p>Drag &amp; drop elements from sidebar</p>
              </div>
            </div>
            <div class="flex-v flex-1 flex-a-end only-phone">
              <div class="flex-1"></div>
              <div class="text-center">
                <h2><b>That's minimal!</b></h2>
                <p>Add elements</p>
              </div>
              <div class="flex-1"></div>
              <div class="m-15">
                <img src="assets/images/tool/minimal-arrow.png" />
              </div>
            </div>
          </div>
        </div>
        <div id="ui-confirm" class="flex-h flex-j-center flex-a-center">
          <button class="close">x</button>
          <p>Remove all elements?</p>
          <button class="cancel ca-button-small dark">Keep creating</button>
          <button class="ok ca-button-small">Remove all</button>
        </div>
      </div>
      <!-- /ca-tool-main -->

      <div id="window-palette" class="ca-tool-window p-abs-full">
        <div class="ca-window-content flex-v">
          <p class="ca-window-title">
            Pick an element
            <i class="material-icons">add</i>
          </p>
          <div class="scroll-flex flex-1">
            <div class="palette-items flex-v">
              <img
                data-itemid="i53"
                src="assets/images/items/i-53-20-2.png"
                width="100%"
              />

              <img
                data-itemid="i54"
                src="assets/images/items/i-54-20-1.png"
                width="100%"
              />

              <img
                data-itemid="i55"
                src="assets/images/items/i-55-20-1.png"
                width="100%"
              />

              <img
                data-itemid="i56"
                src="assets/images/items/i-56-20-1.png"
                width="100%"
              />

              <img
                data-itemid="i57"
                src="assets/images/items/i-57-10-1.png"
                width="50%"
              />

              <img
                data-itemid="i58"
                src="assets/images/items/i-58-10-1.png"
                width="50%"
              />

              <img
                data-itemid="i59"
                src="assets/images/items/i-59-20-10.png"
                width="100%"
              />

              <img
                data-itemid="i6"
                src="assets/images/items/i-6-20-1.png"
                width="100%"
              />

              <img
                data-itemid="i60"
                src="assets/images/items/i-60-20-4.png"
                width="100%"
              />

              <img
                data-itemid="i61"
                src="assets/images/items/i-61-20-10.png"
                width="100%"
              />

              <img
                data-itemid="i62"
                src="assets/images/items/i-62-20-4.png"
                width="100%"
              />

              <img
                data-itemid="i65"
                src="assets/images/items/i-65-10-10.png"
                width="50%"
              />

              <img
                data-itemid="i66"
                src="assets/images/items/i-66-20-4.png"
                width="100%"
              />

              <img
                data-itemid="i67"
                src="assets/images/items/i-67-20-10.png"
                width="100%"
              />

              <img
                data-itemid="i68"
                src="assets/images/items/i-68-20-2.png"
                width="100%"
              />

              <img
                data-itemid="i69"
                src="assets/images/items/i-69-20-4.png"
                width="100%"
              />

              <img
                data-itemid="i70"
                src="assets/images/items/i-70-20-4.png"
                width="100%"
              />

              <img
                data-itemid="i71"
                src="assets/images/items/i-71-20-1.png"
                width="100%"
              />

              <img
                data-itemid="i72"
                src="assets/images/items/i-72-10-5.png"
                width="50%"
              />

              <img
                data-itemid="i73"
                src="assets/images/items/i-73-10-4.png"
                width="50%"
              />

              <img
                data-itemid="i74"
                src="assets/images/items/i-74-10-4.png"
                width="50%"
              />

              <img
                data-itemid="i75"
                src="assets/images/items/i-75-10-2.png"
                width="50%"
              />

              <img
                data-itemid="i76"
                src="assets/images/items/i-76-10-1.png"
                width="50%"
              />

              <img
                data-itemid="i77"
                src="assets/images/items/i-77-5-4.png"
                width="25%"
              />

              <img
                data-itemid="i78"
                src="assets/images/items/i-78-5-4.png"
                width="25%"
              />

              <img
                data-itemid="i79"
                src="assets/images/items/i-79-5-4.png"
                width="25%"
              />

              <img
                data-itemid="i80"
                src="assets/images/items/i-80-5-2.png"
                width="25%"
              />

              <img
                data-itemid="i81"
                src="assets/images/items/i-81-5-4.png"
                width="25%"
              />

              <img
                data-itemid="i82"
                src="assets/images/items/i-82-5-1.png"
                width="25%"
              />
            </div>
          </div>
        </div>
      </div>

      <div id="window-help" class="ca-tool-window p-abs-full">
        <div class="ca-window-content flex-v">
          <p class="ca-window-title">
            Need some help
            <i class="material-icons">help_outline</i>
          </p>
          <div class="scroll-flex flex-1">
            <div class="accordion">
              <a class="accordion-title" href="#">
                <i class="material-icons">flip_to_front</i>
                <span>Gridsnap on / off</span>
              </a>
              <p class="accordion-content">
                Enable or disable snapping to grid. When placing an item, it
                will snap automatically.
              </p>
            </div>
            <div class="accordion">
              <a class="accordion-title" href="#">
                <i class="material-icons">share</i>
                <span>Share</span>
              </a>
              <p class="accordion-content">
                Share your designs on your favourite social network or just get
                an unique URL for sharing where you like.
              </p>
            </div>
            <div class="accordion">
              <a class="accordion-title" href="#">
                <i class="material-icons">delete</i>
                <span>Remove</span>
              </a>
              <p class="accordion-content">
                It removes one element when one of them is selected. If none,
                all are removed.
              </p>
            </div>
            <div class="accordion">
              <a class="accordion-title" href="#">
                <i class="material-icons">add</i>
                <span>Zoom in / out</span>
              </a>
              <p class="accordion-content">
                Adjust camera zoom to properly view your design.
              </p>
            </div>
            <div class="accordion">
              <a class="accordion-title" href="#">
                <i class="material-icons">shopping_cart</i>
                <span>Checkout</span>
              </a>
              <p class="accordion-content">
                When you are finish, you can get a real copy of your design.
                Just checkout!
              </p>
            </div>
            <div class="accordion">
              <a class="accordion-title" href="#">
                <i class="material-icons">replay</i>
                <span>Rotate</span>
              </a>
              <p class="accordion-content">Rotate 90 degrees selected item.</p>
            </div>
            <div class="accordion">
              <a class="accordion-title" href="#">
                <i class="material-icons">all_out</i>
                <span>Move an element</span>
              </a>
              <p class="accordion-content">
                Move any element on the working area. Use grid-snapping to match
                other item corners.
              </p>
            </div>
          </div>
        </div>
      </div>

      <div id="window-share" class="ca-tool-window p-abs-full">
        <div class="ca-window-content flex-v">
          <p class="ca-window-title">
            Share or save your creation
            <i class="material-icons">share</i>
          </p>
          <div class="flex-h share-buttons">
            <button class="ca-button" id="share-url">
              <i class="fa fa-copy fa-lg"></i>
              <span>Copy URL</span>
            </button>

            <button class="ca-button" id="share-whatsapp">
              <i class="fa fa-whatsapp fa-lg"></i>
              <span>Whatsapp</span>
            </button>

            <button class="ca-button" id="share-facebook">
              <i class="fa fa-facebook fa-lg"></i>
              <span>Facebook</span>
            </button>

            <button class="ca-button" id="share-twitter">
              <i class="fa fa-twitter fa-lg"></i>
              <span>Twitter</span>
            </button>

            <button class="ca-button" id="share-email">
              <i class="fa fa-send fa-lg"></i>
              <span>Email</span>
            </button>
          </div>
          <div class="flex-1"></div>
        </div>
      </div>

      <div id="window-options" class="ca-tool-window p-abs-full">
        <div class="ca-window-content flex-v">
          <p class="ca-window-title">
            Options
            <i class="material-icons">more_vert</i>
          </p>
          <div class="flex-h share-buttons">
            <button class="ca-button" id="btn-more-delete-all">
              <i class="fa fa-trash-o fa-lg"></i>
              <span>Delete All</span>
            </button>

            <button class="btn-show-help ca-button">
              <i class="fa fa-question-circle fa-lg"></i>
              <span>Help</span>
            </button>

            <button class="btn-share ca-button">
              <i class="fa fa-share-alt fa-lg"></i>
              <span>Share</span>
            </button>
          </div>
          <div class="flex-1"></div>
        </div>
      </div>

      <div id="window-checkout" class="ca-tool-window p-abs-full">
        <div class="ca-window-content flex-v">
          <p class="ca-window-title">
            Checkout
            <i class="material-icons">shopping_cart</i>
          </p>
          <div class="flex-v flex-1 scroll-flex-parent">
            <div class="flex-1 cart-entries scroll-flex"></div>
            <div class="flex-h flex-j-between checkout-total">
              <p>TOTAL</p>
              <p><span id="checkout-total-amount"></span> €</p>
            </div>
            <div class="flex-h m-t-15">
              <button
                class="btn-keep-creating ca-button ca-button-large flex-1"
              >
                Keep Creating
              </button>
              <p class="m-15"></p>
              <a
                class="btn-checkout ca-button ca-button-large dark flex-1"
                disabled=""
              >
                CHECKOUT
              </a>
            </div>
          </div>
          <div class="h25"></div>
        </div>
      </div>

      <div id="loading" class="ca-tool-window p-abs-full window-show">
        <div class="ca-window-content"></div>
      </div>
    </main>

    <!-- JavaScript -->
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"
      integrity=""
      crossorigin="anonymous"
    ></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/interact.js/1.2.9/interact.js"></script>
    <script
      async=""
      type="text/javascript"
      src="https://cdn.jsdelivr.net/jquery.jssocials/1.4.0/jssocials.min.js"
    ></script>

    <script src="/js/core.js"></script>
    <script src="js/tool.js"></script>
    <script
      async=""
      src="https://sdks.shopifycdn.com/js-buy-sdk/v1/latest/index.umd.min.js"
    ></script>
    <script></script>
    <!-- 
     Web App created by jorgeblom.com
    -->
  </body>
</html>
