
    <div class="document-container">
      <!-- Header Component Placeholder -->
      <div class="component-placeholder header-placeholder">[HEADER COMPONENTS]</div>

      <div class="project-info">
        <h2>COMMONWEALTH OF MASSACHUSETTS STATE</h2>
        <div class="info-grid">
          <div class="info-item">
            <span class="info-label">BUILDING CODE 780 CMR CHAPTER 9,</span>
            <span class="info-value">10th Edition</span>
          </div>

          <div class="info-item">
            <span class="info-label">FIRE PROTECTION SYSTEMS NARRATIVE</span>
            <span class="info-value">780 CMR – 901.2.1</span>
          </div>

          <!-- <div class="info-item">
            <span class="info-label">Assigned Staff</span>
            <span class="info-value">{{ASSIGNED_STAFF_NAME}}</span>
          </div> -->
        </div>
      </div>
      <!-- Project Information Section -->
      <div class="project-info">
        <h2>Project Information</h2>
        <div class="info-grid">
          <div class="info-item">
            <span class="info-label">Project Title</span>
            <span class="info-value">{{PROJECT_TITLE}}</span>
          </div>

          <div class="info-item">
            <span class="info-label">Address</span>
            <span class="info-value">{{PROJECT_ADDRESS}}</span>
          </div>
          <div class="info-item">
            <span class="info-label">Client</span>
            <span class="info-value">{{companyName}}</span>
          </div>
          <div class="info-item">
            <span class="info-label">Date of Issuance</span>
            <span class="info-value">{{PROJECT_SQ_FT}} sq ft</span>
          </div>
          <div class="info-item">
            <span class="info-label">Status</span>
            <span class="info-value">
              <span class="status-badge status-active">{{STATUS_NAME}}</span>
            </span>
          </div>
          <!-- <div class="info-item">
            <span class="info-label">Assigned Staff</span>
            <span class="info-value">{{ASSIGNED_STAFF_NAME}}</span>
          </div> -->
        </div>
      </div>


      <!-- Content Component Placeholder -->
      <div class="component-placeholder content-placeholder">
              <!-- dump all placeholders here -->

      Global Company Placeholders<br />
      {{RAILWAY_PROJECT_NAME}} <b>- Company name</b><br />
      {{GLOBAL_COMPANY_SLOGAN}} <b> - Company slogan</b><br />
      {{GLOBAL_COMPANY_PHONE}} - Company phone {{GLOBAL_COMPANY_EMAIL}} <b> - Company email</b
      ><br />
      {{GLOBAL_COMPANY_WEBSITE}} <b> - Company website</b><br />
      {{GLOBAL_COMPANY_ADDRESS}} <b> - Company address</b><br />
      {{COMPANY_LOGO_LIGHT}} - Light logo<br />
      {{COMPANY_LOGO_DARK}} <b> - Dark logo</b><br />
      {{COMPANY_LOGO_URL}} <b> - Logo URL</b><br />
      {{COMPANY_ADDRESS}} - Company address (duplicate)<br />
      {{COMPANY_PHONE}} <b> - Company phone (duplicate)</b><br />
      {{COMPANY_EMAIL}} <b> - Company email (duplicate)</b><br />
      {{COMPANY_WEBSITE}} - Company website (duplicate)<br />

      Project Placeholders<br />
      {{PROJECT_TITLE}} <b> - Project title</b><br />
      {{PROJECT_ADDRESS}} <b> - Project address</b><br />
      {{PROJECT_DESCRIPTION}} <b> - Project description</b><br />
      {{PROJECT_SQ_FT}} <b> - Square footage</b><br />
      {{PROJECT_NEW_CONSTRUCTION}} <b> - New construction flag</b><br />

      Client Placeholders<br />
      {{companyName}} <b> - Client name</b> <br />
      {{CLIENT_EMAIL}} <b> - Client email</b><br />
      {{PHONE}} <b> - Client phone</b><br />
      {{companyName}} <b> - Client company</b><br />

      Status & Staff Placeholders<br />
      {{STATUS_NAME}} <b> - Current status name</b> <br />
      {{PROJECT_EST_TIME}} <b> - Estimated completion time</b><br />
      {{ASSIGNED_STAFF_NAME}} <b> - Assigned staff name</b><br />
      {{ASSIGNED_STAFF_EMAIL}} <b> - Assigned staff email</b><br />

      
      System Placeholders<br />
      {{CURRENT_DATE}} <b> - Current date</b> <br />
      {{BASE_URL}} <b> - Application base URL</b><br />
      {{DOCUMENT_ID}} <b> - Unique document ID</b><br />
      {{DOCUMENT_VERSION}} <b> - Document version</b><br />

      Font Placeholders<br />
      {{FONT_FAMILY}} <b> - Font family</b><br />
      {{FONT_SIZE_HEADING}} <b> - Font size heading</b><br />
      {{FONT_WEIGHT_HEADING}} <b> - Font weight heading</b><br />
      {{FONT_SIZE_BASE}} <b> - Font size base</b><br />
      {{FONT_WEIGHT_NORMAL}} <b> - Font weight normal</b><br />

      Primary Color Placeholders<br />
      {{GLOBAL_COLOR_PRIMARY}} <b> - Primary color</b><br />
      {{GLOBAL_COLOR_SECONDARY}} <b> - Secondary color</b><br />

      Global Color Placeholders<br />
      {{GLOBAL_COLOR_PRIMARY}} <b> - Global primary color</b><br />
      {{GLOBAL_COLOR_SECONDARY}} <b> - Global secondary color</b><br />
      {{GLOBAL_COLOR_SUCCESS}} <b> - Global success color</b><br />
      {{GLOBAL_COLOR_WARNING}} <b> - Global warning color</b><br />
      {{GLOBAL_COLOR_DANGER}} <b> - Global danger color</b><br />
      {{GLOBAL_COLOR_NEUTRAL}} <b> - Global neutral color</b><br />

      </div>

      <!-- Footer Component Placeholder -->
      <div class="component-placeholder footer-placeholder">[FOOTER COMPONENTS]</div>

      <!-- Document Footer -->
      
    </div>
  </body>
</html>
