---
// import { getI18N } from "../../i18n";

//Para cambiar idioma de textos
// const { currentLocale } = Astro;
// const i18n = getI18N({ currentLocale });

interface Props {
  title: string;
  description: string;
}

const { title, description } = Astro.props;
---

<div class="my-6 mx-6">
  <h1
    class="text-2xl font-medium text-hub-title dark:text-hub-title-dark"
    id="page-title"
  >
    {title}
  </h1>
  <p
    id="page-subtitle"
    class="text-base text-hub-subtitle dark:text-hub-subtitle-dark"
  >
    {description}
  </p>
</div>
