---
const { class: className, href } = Astro.props;
---

<li>
  <a
    href={href}
    class=`${className} px-4 py-2  text-sm  w-auto rounded-full
    hover:text-hub-title `
    {...Astro.props}
  >
    <slot />
  </a>
</li>
